// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder. 
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.


$primary: #EE662F; // Thats a sample how you could change a BootStrap variable.
$softprimary: #ff7035;
$secondary: #38AC70;
$thirdary: #48BE76;
$bdrgray: #e0e0e0;
$textgray: #313131;
$textlightgray: #626262;
$bglightgray: #F8F8F8;
$bggray: #F2F2F2;
$container-max-widths: (
sm: 540px,
md: 750px,
lg: 970px,
xl: 1200px);