@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: 
		local('Open Sans'),
		local('OpenSans'),
		url('../fonts/open-sans.woff') format('woff');
}
.tooltip-content {
  display: none;
  position: absolute;
  top: 90px;
  margin-left: -10px;
  min-width: 200px;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  z-index: 10000;
}
.ipanel-image-field-label:hover .tooltip-content {
  display: block;
}
.ipanel-checkbox-field label {
	font-size: 0;
}
#ipanel-field-section-footer_payment_icons .switcher.default {
	left: 10px;
    position: relative;
    top: 10px;
}
#ipanel-field-section-enable_comingsoon .switcher.default.is-active,
#ipanel-field-section-font_google_disable .switcher.default.is-active {
	background: #d61414;
	border: 1px solid #d61414;
    box-shadow: 0 0 0 16px #d61414 inset;
}
/*
	
	Font Awesome
	
	if you don't want to use Font Awesome you can remove the lines below.

*/

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=3.2.1');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=3.2.1') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=3.2.1') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=3.2.1') format('truetype'), url('../fonts/fontawesome-webfont.svg#fontawesomeregular?v=3.2.1') format('svg');
  font-weight: normal;
  font-style: normal;
}



body{
	overflow-x: hidden;
	-ms-overflow-x: hidden;
}

a{
	outline: none !important;
}

a:active{
	outline: none !important;
}

input[type=text]{
	padding: 4px 7px;
	border-radius: 0;
	border-color: #E6E6E6;
	margin: 0;
	background: #FAFAFA;
	width: 250px;
	box-shadow: none;
}

input[type=text]:hover{
	border-color: #DBDBDB;
}

input[type=text]:focus{
	box-shadow: none;
	border-color: #B9B9B9;
}

input[type=text].ipanel-color-picker{
	width: 213px;
}

textarea{
	padding: 4px 7px;
	border-radius: 0;
	border-color: #E6E6E6 !important;
	background: #FAFAFA !important;
	width: 250px;
	height: 75px;
	margin: 0;
	box-shadow: none;
}

textarea:hover{
	border-color: #DBDBDB !important;
}

textarea:focus{
	box-shadow: none !important;
	border-color: #B9B9B9 !important;
}

::selection {
	background: rgba(0,0,0,0.8);
	color: #f9fafc;
	text-shadow: 1px 1px rgba(0,0,0,0.8);
}
::-moz-selection {
	background: rgba(0,0,0,0.8);
	color: #f9fafc;
	text-shadow: 1px 1px rgba(0,0,0,0.8);
}

.ipanel-ltr #wpbody-content {
	background: transparent;
	margin-left: -19px;
	padding-left: 20px;
	min-height: 750px;
}
.ipanel-ltr #wpbody-content div.updated {
	margin-left: 0;
}
.ipanel-rtl #wpbody-content {
	background: url( '../img/squairy_light.png' );
	margin-right: -19px;
	padding-right: 20px;
	min-height: 700px;
}
.documentation-icon {
	text-align: center;
	margin: 40px 0 50px;
}
.ipanel-wrap{
	width: auto;
	margin: 20px auto;
	position: relative;
	left: -5px;
	background: #eeeeee;
	border: 1px solid #D8D8D8;
	box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.15);
	margin-right: 15px;
}

.ipanel-wrap *,
.ui-datepicker *,
.ipanel-form-stuff *,
.ui-datepicker{
	font-family: Open Sans, Tahoma;
	font-weight: normal;
}


.clr{
	clear: both;
}


.ipanel-ltr  #ipanel-header-title,
.ipanel-ltr .ipanel-save-settings,
.ipanel-rtl .ipanel-reset-settings,
.ipanel-rtl .ipanel-more-themes,
.ipanel-rtl .ipanel-toggle-preview,
.ipanel-rtl i.ipanel-description-icon{
	
}
.ipanel-ltr .ipanel-save-settings,
.ipanel-rtl .ipanel-save-settings {
	float: left;
}
.ipanel-rtl #ipanel-header-title,
.ipanel-rtl .ipanel-save-settings,
.ipanel-ltr .ipanel-reset-settings,
.ipanel-ltr .ipanel-more-themes,
.ipanel-ltr .ipanel-toggle-preview,
.ipanel-ltr i.ipanel-description-icon{
	
	
}



.ipanel-wrap td{
	vertical-align: top;
	padding: 0;
}


.ipanel-tabs-list,
.ipanel-tabs-list > div{
	width: 175px;
}

#ipanel-fields-container{
	width: 100%;
	background: #ffffff;
}

#ipanel-fields-container > div{
	min-height: 600px;
	width: auto;
	padding: 30px 30px 0px 30px;
}

.ipanel-ltr #ipanel-fields-container{
	border-left: 1px solid #D8D8D8;
}

.ipanel-rtl #ipanel-fields-container{
	border-right: 1px solid #D8D8D8;	
}



.ipanel-white-icon{
	display: inline-block;
	width: 14px;
	height: 14px;
	margin-top: 1px;
	line-height: 14px;
	vertical-align: text-top;
	background-image: url("../img/glyphicons-halflings-white.png");
	background-position: 14px 14px;
	background-repeat: no-repeat;
}

.ipanel-black-icon{
	display: inline-block;
	width: 14px;
	height: 14px;
	margin-top: 1px;
	line-height: 14px;
	vertical-align: text-top;
	background-image: url("../img/glyphicons-halflings.png");
	background-position: 14px 14px;
	background-repeat: no-repeat;
}

.ipanel-ltr .ipanel-white-icon,
.ipanel-ltr .ipanel-black-icon{
	margin-right: 4px;
	margin-left: -2px;
}
.ipanel-rtl .ipanel-white-icon,
.ipanel-rtl .ipanel-black-icon{
	margin-left: 4px;
	margin-right: -2px;
}

.save{
	background-position: -72px -96px;
}

.trash{
	background-position: -456px 0;
}

.eye{
	background-position: -96px -120px;
}


.ipanel-ltr #ipanel-tabs > ul{
	margin: 0 -1px 0px 0;
	border-right: 1px solid #D8D8D8;
}

.ipanel-rtl #ipanel-tabs > ul{
	margin: 0 0px -1px -1px;
	border-left: 1px solid #D8D8D8;
}

#ipanel-tabs li {
	margin-bottom: 0px;
}

#ipanel-tabs > ul > li:last-child {
	margin-bottom: 0;
}

.ipanel-ltr #ipanel-tabs > ul > li > a{
	line-height: 35px;
	padding-left: 15px;
	outline: none;
	color: #979797;
	border-bottom: 1px solid #E2E2E2;
	text-shadow: 1px 1px rgba(255, 255, 255, 0.51);
}

.ipanel-rtl #ipanel-tabs > ul > li > a{
	line-height: 40px;
	padding-right: 15px;
	outline: none;
	border-bottom: 1px solid #D8D8D8;
	color: #758D92;
	text-shadow: 1px 1px rgba(255, 255, 255, 0.51);
}

#ipanel-tabs > ul > li > a:active{
	outline: none;
}

#ipanel-tabs > ul > li:first-child > a{
	border-top: 0;
}

.ipanel-ltr #ipanel-tabs > ul > li > a.current_tab{
	background: #ffffff;
	position: relative;
	color: #333333;
	text-shadow: 1px 1px white;
   
	margin-top: -1px;
	margin-right: -6px;
	left: -5px;
	border-left: 1px solid #D8D8D8;
	border-top: 1px solid #D8D8D8;
	border-bottom: 1px solid #D8D8D8;
	box-shadow: none;
	

	transition: all 100ms ease-in-out;
	-webkit-transition: all 100ms ease-in-out;
	-moz-transition: all 100ms ease-in-out;
	-ms-transition: all 100ms ease-in-out;
	-o-transition: all 100ms ease-in-out;

}

.ipanel-rtl #ipanel-tabs > ul > li > a.current_tab{
	background: #ffffff;
	position: relative;
	color: #333333;
	text-shadow: 1px 1px white;
	
	margin-top: -1px;
	margin-left: -6px;
	right: -5px;
	border-right: 1px solid #D8D8D8;
	border-top: 1px solid #D8D8D8;
	border-bottom: 1px solid #D8D8D8;
	box-shadow: none;
	

	transition: all 100ms ease-in-out;
	-webkit-transition: all 100ms ease-in-out;
	-moz-transition: all 100ms ease-in-out;
	-ms-transition: all 100ms ease-in-out;
	-o-transition: all 100ms ease-in-out;
}

#ipanel-tabs a{
	display: block;
	text-decoration: none;
	text-shadow: 1px 1px #FFF;
}

#ipanel-tabs > ul ul.submenu{
	display: none;
	padding: 10px 6px 15px 6px;
	border-bottom: 1px solid #E6E6E6;
}

.ipanel-ltr #ipanel-tabs > ul ul.submenu a{
	background: url('../img/arrow-right.png') no-repeat left center;
	margin-left: 17px;
	padding: 4px 15px 4px 10px;
	color: #7C7C7C;
	text-shadow: 1px 1px rgba(255, 255, 255, 0.60);
}

.ipanel-rtl #ipanel-tabs > ul ul.submenu a{
	background: url('../img/arrow-left.png') no-repeat right center;
	margin-right: 17px;
	padding: 4px 10px 4px 15px;
}

#ipanel-tabs > ul ul.submenu a{
	margin-top: 10px;
	padding: 4px 15px;
}

#ipanel-tabs > ul ul.submenu a:first-child{
	margin-top: 0;
}




.ipanel-field-section{
	margin-bottom: 10px;
}

.ipanel-label {
	display: block;
	height: 22px;
	margin-bottom: 10px;
	border-bottom: 1px solid #E9E9E9;
}

.ipanel-label > label{
	font-size: 15px;
	height: 22px;
	display: inline-block;
	border-bottom: 1px solid #D5D5D5;
	font-weight: bold;
	color: #4686CC;
}

.ipanel-description > div{
	font-size: 12px;
	color: rgb(119, 119, 119);
	font-style: italic;
	margin-bottom: 10px;
	
}

.ipanel-field-description-icon > div{
	display: none;
}

.ipanel-description{
	display: inline-block;
	width: 100%;
	margin-top: 10px;
}

i.ipanel-description-icon{
	width: 30px;
	height: 31px;
	background: url( '../img/info.png' ) center center no-repeat;
	display: inline-block;
	cursor: pointer;
}

#ipanel-message-box{
	position: absolute;
	display: none;
	color: rgb(255, 255, 255);
	text-align: center;
	padding: 70px 0px;
	background: rgba(0, 0, 0, 0.65);
	font-family: Open Sans, Tahoma;
	width: 300px;
	left: 50%;
	margin-left: -150px;
	top: 26%;
	z-index: 50;
	font-size: 14px;
}

.ipanel-ok-icon{
	width: 20px;
	height: 20px;
	display: inline-block;
	background: url( '../img/ok-icon.png' );
}


.ipanel-error-icon{
	width: 20px;
	height: 20px;
	display: inline-block;
	background: url( '../img/error-icon.png' );
}

#ipanel-message-box p.save-message,
#ipanel-message-box p.import-message{
	display: inline;
	position: relative;
	top: -4px;
	margin: 0 5px;
}

.ipanel-ltr .ipanel-delete-icon{
	width: 20px;
	height: 20px;
	float:right;
	margin-top: -6px;
	margin-right: -6px;
	background: url( '../img/delete-icon.png' );
	cursor: pointer;
}

.ipanel-rtl .ipanel-delete-icon{
	width: 20px;
	height: 20px;
	float: left;
	margin-top: -6px;
	margin-left: -6px;
	background: url( '../img/delete-icon.png' );
	cursor: pointer;
}

.ipanel-ltr .ipanel-drag-icon{
	width: 16px;
	height: 16px;
	float: right;
	background: url( '../img/grid.png' );
	margin-top: -4px;
	margin-right: 3px;
	cursor: grab;
	cursor: -moz-grab;
	cursor: -webkit-grab;
	opacity: 0.7;
}

.ipanel-drag-icon:active{
	cursor: grabbing !important;
	cursor: -moz-grabbing !important;
	cursor: -webkit-grabbing !important;
}

.ipanel-rtl .ipanel-drag-icon{
	width: 16px;
	height: 16px;
	float: left;
	background: url( '../img/grid.png' );
	margin-top: -4px;
	margin-left: 3px;
	cursor: grab;
	cursor: -moz-grab;
	cursor: -webkit-grab;
	opacity: 0.7;
}


.dragged {
	position: absolute;
	opacity: 0.5;
	z-index: 2000;
}

div.ipanel-repeater-input-container > li{
	background: rgb(243, 242, 242);
	list-style: none;
	padding: 15px 15px 8px 15px;
	border: 1px solid rgb(223, 223, 223);
	border-radius: 2px;
	margin-bottom: 20px;
}

div.ipanel-repeater-input-container > li > label{
	margin-top: 20px;
}

div.ipanel-repeater-input-container li.placeholder {
	position: relative;
	height: auto;
	background: rgb(250, 250, 250);
}

div.ipanel-repeater-option{
	margin-bottom: 20px;
}

div.ipanel-repeater-option > label{
	
}

div.ipanel-repeater-option.last{
	margin-bottom: 5px;
}


.ipanel-rtl div.ipanel-repeater-input-container > li h2.ipanel-repeater-title{
	padding-right: 14px;
	background: url('../img/arrow-down.png') no-repeat center right;
}

.ipanel-ltr div.ipanel-repeater-input-container > li h2.ipanel-repeater-title{
	padding-left: 14px;
	background: url('../img/arrow-down.png') no-repeat center left;
}


.ipanel-repeater-fields{
	display: none;
	margin-top: 20px;
}

.ipanel-repeater-fields *{
	text-shadow: 1px 1px rgb(255, 255, 255);
	color: rgb(90, 90, 90);
}

div.ipanel-repeater-input-container > li h2.ipanel-repeater-title{
	margin: 0;
	position: relative;
	top: -3px;
	display: inline-block;
	width: 90%;
	height: 18px;
	cursor: pointer;
	text-shadow: 1px 1px rgb(255, 255, 255);
	color: rgb(90, 90, 90);
}

div.ipanel-qup-progress-bar{
	width: 500px;
	background: #4ed8f1;
	height: 40px;
	margin: 10px 0;
	border-radius: 3px;
	display: none;
}

div.ipanel-qup-progress-bar .bar{
	width: 360px;
	display: inline-block;
	height: 15px;
	margin-left: 30px;
	background: #1cbadb;
	border-radius: 10px;
	position: relative;
	top: 3px;
}


div.ipanel-qup-progress-bar .bar .percent{
	height: 15px;
	background: #fbfbfb;
	display: inline-block;
	border-radius: 20px;
}


div.ipanel-qup-progress-bar .text{
	display: inline-block;
	height: 24px;
	width: 30px;
	text-align: center;
	line-height: 25px;
	background: rgb(28, 178, 209);
	margin-top: 8px;
	padding: 0 10px;
	border-radius: 2px;
	color: white;
	text-shadow: 1px 1px rgba(0, 0, 0, 0.16);
}

.ipanel-ltr div.ipanel-qup-progress-bar .text,
.ipanel-ltr div.ipanel-qup-progress-bar .bar{
	margin-left: 30px;
}

.ipanel-rtl div.ipanel-qup-progress-bar .text,
.ipanel-rtl div.ipanel-qup-progress-bar .bar{
	margin-right: 30px;
}


.ipanel-select-file{

}

.ipanel-quick-up-file{
	display: none;
}

.ipanel-select-file input{

}

.ipanel-ltr .ipanel-quick-upload-file{
	margin: 10px 0;
	padding: 20px 0px 20px 20px;
	border: 1px solid rgb(233, 233, 233);
}

.ipanel-rtl .ipanel-quick-upload-file{
	margin: 10px 0;
	padding: 20px 20px 20px 0px;
	border: 1px solid rgb(233, 233, 233);
}

.ipanel-quick-upload-file img.img{
	box-shadow: 0 0 2px 0 rgba(128, 128, 128, 0.32);
	padding: 2px;
}


.ipanel-ltr .ipanel-quick-upload-file img.ipanel-qup-up-img{
	max-width: 100px;
	float: left;
}

.ipanel-ltr .ipanel-quick-upload-file div.ipanel_file_info{
	float: left;
	margin-left: 25px;
}

.ipanel-rtl .ipanel-quick-upload-file img.ipanel-qup-up-img{
	max-width: 100px;
	float: right;
}

.ipanel-rtl .ipanel-quick-upload-file div.ipanel_file_info{
	float: right;
	margin-right: 25px;
}

.ipanel-quick-upload-file a.ipanel-remove-qup-file{
	color: rgb(250, 35, 35);
}

.ipanel-form-stuff{
	padding: 15px 20px;
	width: auto;
	margin: 20px auto 20px auto;
	position: relative;
	box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.15);
	background: #F7F7F7;
	border: 1px solid #D8D8D8;
	margin-right: 15px;
}
.buttons-panel-right {
	float: right;
}
.ipanel-form-stuff button+button {
	margin-left: 5px;
}

.ipanel-ltr .ipanel-form-stuff{
	left: -5px;
}

.ipanel-rtl .ipanel-form-stuff{
	right: 5px;
}


.ipanel-button{
	border: none;
	padding: 5px 15px;
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
	margin: 0 5px;
	height: 31px;
	border-width: 1px;
	border-style: solid;
	-webkit-border-radius: 2px;
	-webkit-appearance: none;
	border-radius: 2px;
	white-space: nowrap;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.ipanel-button-orange{
	background-color: #D14836;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#DD4B39),to(#D14836));
	background-image: -webkit-linear-gradient(top,#DD4B39,#D14836);
	background-image: -moz-linear-gradient(top,#DD4B39,#D14836);
	background-image: -ms-linear-gradient(top,#DD4B39,#D14836);
	background-image: -o-linear-gradient(top,#DD4B39,#D14836);
	background-image: linear-gradient(top,#DD4B39,#D14836);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#dd4b39',EndColorStr='#d14836');
	border: 1px solid #BB6055 !important;
	color: #FFF;
	text-shadow: 1px 1px rgba(0, 0, 0, 0.35);
}

.ipanel-button-orange:hover{
	background-color: #C53727;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#DD4B39),to(#C53727));
	background-image: -webkit-linear-gradient(top,#DD4B39,#C53727);
	background-image: -moz-linear-gradient(top,#DD4B39,#C53727);
	background-image: -ms-linear-gradient(top,#DD4B39,#C53727);
	background-image: -o-linear-gradient(top,#DD4B39,#C53727);
	background-image: linear-gradient(top,#DD4B39,#C53727);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#dd4b39',EndColorStr='#c53727');
	border-color: #B0281A;
	border-bottom-color: #AF301F;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,.1);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
}
.ipanel-button-green:hover,
.ipanel-button-green:active,
.ipanel-button-green:focus {
	color: #fff!important;
}
.theme-copyright {
	display: inline-block;
	margin-left: 15px;
    margin-top: 5px;
}
.ipanel-button-green:active{
	background-color: #92d412;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#92d412),to(#76a717));
	background-image: -webkit-linear-gradient(top,#92d412,#76a717);
	background-image: -moz-linear-gradient(top,#92d412,#76a717);
	background-image: -ms-linear-gradient(top,#92d412,#76a717);
	background-image: -o-linear-gradient(top,#92d412,#76a717);
	background-image: linear-gradient(top,#92d412,#76a717);
	border-color: #992A1B;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}

.ipanel-button-green{
	background-color: #92d412;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#92d412),to(#76a717));
	background-image: -webkit-linear-gradient(top,#92d412,#76a717);
	background-image: -moz-linear-gradient(top,#92d412,#76a717);
	background-image: -ms-linear-gradient(top,#92d412,#76a717);
	background-image: -o-linear-gradient(top,#92d412,#76a717);
	background-image: linear-gradient(top,#92d412,#76a717);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#92d412',EndColorStr='#76a717');
	border: 1px solid #76a717 !important;
	color: #FFF;
	text-shadow: 1px 1px rgba(0, 0, 0, 0.35);
}

.ipanel-button-green:hover{
	background-color: #92d412;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#92d412),to(#668f18));
	background-image: -webkit-linear-gradient(top,#92d412,#668f18);
	background-image: -moz-linear-gradient(top,#92d412,#668f18);
	background-image: -ms-linear-gradient(top,#92d412,#668f18);
	background-image: -o-linear-gradient(top,#92d412,#668f18);
	background-image: linear-gradient(top,#92d412,#668f18);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#92d412',EndColorStr='#668f18');
	border-color: #B0281A;
	border-bottom-color: #668f18;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,.1);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
}

.ipanel-button-orange:active{
	background-color: #B0281A;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#DD4B39),to(#B0281A));
	background-image: -webkit-linear-gradient(top,#DD4B39,#B0281A);
	background-image: -moz-linear-gradient(top,#DD4B39,#B0281A);
	background-image: -ms-linear-gradient(top,#DD4B39,#B0281A);
	background-image: -o-linear-gradient(top,#DD4B39,#B0281A);
	background-image: linear-gradient(top,#DD4B39,#B0281A);
	border-color: #992A1B;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}

.ipanel-button-white{
	background-color: #F0F0F0;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#F0F0F0),to(#E7E7E7));
	background-image: -webkit-linear-gradient(top,#F0F0F0,#E7E7E7);
	background-image: -moz-linear-gradient(top,#F0F0F0,#E7E7E7);
	background-image: -ms-linear-gradient(top,#F0F0F0,#E7E7E7);
	background-image: -o-linear-gradient(top,#F0F0F0,#E7E7E7);
	background-image: linear-gradient(top,#F0F0F0,#E7E7E7);
	border: 1px solid #DCDCDC !important;
	border-color: rgba(0, 0, 0, .1);
	color: #444;
}

.ipanel-button-white:hover{
	border-color: #C6C6C6 !important;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,.1);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
	color: #222;
}

.ipanel-button-white:active{
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}

.ipanel-media-upload-button.ipanel-button-white,
.ipanel-select-file.ipanel-button-white{
	background-color: #F5F5F5;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#F5F5F5),to(#F1F1F1));
	background-image: -webkit-linear-gradient(top,#F5F5F5,#F1F1F1);
	background-image: -moz-linear-gradient(top,#F5F5F5,#F1F1F1);
	background-image: -ms-linear-gradient(top,#F5F5F5,#F1F1F1);
	background-image: -o-linear-gradient(top,#F5F5F5,#F1F1F1);
	background-image: linear-gradient(top,#F5F5F5,#F1F1F1);
	padding: 0 15px;
	line-height: 26px;
	height: 26px;
}

.ipanel-repeater-new-item.ipanel-button-white{
	background-color: #F5F5F5;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#F5F5F5),to(#F1F1F1));
	background-image: -webkit-linear-gradient(top,#F5F5F5,#F1F1F1);
	background-image: -moz-linear-gradient(top,#F5F5F5,#F1F1F1);
	background-image: -ms-linear-gradient(top,#F5F5F5,#F1F1F1);
	background-image: -o-linear-gradient(top,#F5F5F5,#F1F1F1);
	background-image: linear-gradient(top,#F5F5F5,#F1F1F1);
	margin: 0;
}

.ipanel-select-file.ipanel-button-white{
	margin: 0 !important;
	line-height: 30px !important;
	height: 30px !important;
}

.ipanel-import-file-label.ipanel-button-white{
	margin: 0 !important;
	height: 30px !important;
}

.ipanel-import-field > label > textarea{
	width: 600px;
	margin-top: 2px;
}

.ipanel-import-button.ipanel-button-white,
.ipanel-export-link-btn.ipanel-button-white{
	margin: 0 !important;
}

div.ipanel-export-value{
	word-wrap: break-word;
	counter-reset: linenumbers;
	background: rgb(252, 252, 252);
	padding: 10px;
	line-height: 20px;
	border: 1px solid rgb(236, 236, 236);
	margin-bottom: 10px;
	max-height: 115px;
	overflow: auto;
	width: 500px;
}

.ipanel-highlight-export-code,
.ipanel-chosen-filename{
	margin: 0 10px !important;
}

.ipanel-import-file{
	display: none;
}

.ipanel-image-field-radio{
	display: none!important;
	background: #eee;
	
}

.ipanel-ltr .ipanel-image-field-label.checked{
	background: #eee;
    border: 1px solid #4686CC;
}

.ipanel-ltr .ipanel-image-field-label{
	float: left;
	margin-right: 15px;
	position: relative;
	padding: 10px;
	border: 1px solid #ccc;
	position: relative;
}

.ipanel-rtl .ipanel-image-field-label{
	float: right;
	margin-left: 15px;
	position: relative;
}

label.ipanel-image-field-label .ipanel-checked-icon{
	display: none !important;
}

label.ipanel-image-field-label.checked .ipanel-checked-icon{
	display: none;
	width: 16px;
	height: 16px;
	position: absolute;
	bottom: 8px;
	right: 5px;
	display: none;
	background: url( '../img/selected-icon.png' );
}

.ipanel-slider-slider{
	margin: 25px 0 10px 0;
}

.ui-slider{
	height: 13px !important;
	background: url('../img/jquery-ui/slider-bg.png' ) !important;
	border: none !important;
	box-shadow: none !important;
	-webkit-border-radius: 10px !important;
	-moz-border-radius: 10px !important;
	border-radius: 10px !important;
}

.ui-slider .ui-slider-range{
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-color: rgba(0,168,210,0);
	-webkit-box-shadow: inset 0 2px 4px rgba(1,1,1,.35);
	-moz-box-shadow: inset 0 2px 4px rgba(1,1,1,.35);
	box-shadow: inset 0 2px 4px rgba(1,1,1,.35);
	background-image: -webkit-linear-gradient(left, #4c5770, #465a8b);
	background-image: -moz-linear-gradient(left, #4c5770, #465a8b);
	background-image: -o-linear-gradient(left, #4c5770, #465a8b);
	background-image: -ms-linear-gradient(left, #4c5770, #465a8b);
	background-image: linear-gradient(to right, #4c5770, #465a8b);
}

a.ui-slider-handle{
	width: 21px !important;
	height: 22px !important;
	background: url('../img/jquery-ui/handle.png' ) !important;
	border: none !important;
	box-shadow: none !important;
	position: relative;
}

a.ui-slider-handle > span{
	position: relative;
	background-color: #393939;
	border: solid 1px #060606;
	padding: 2px 5px;
	color: white;
	text-decoration: none;
	border-radius: 4px;
	font-size: 11px;
	left: 29px;
	float: left;
	white-space: nowrap;
}
a.ui-slider-handle > span > span{
	position: absolute;
	top: 5px;
	left: -1px;
	width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-right: 5px solid black;
	margin-left: -5px;
}


.ipanel-sorter-block-container{
	float: left;
}

.ipanel-sorter-block{
	min-height: 100px;
	margin-top: 0;
	overflow-y: auto;
}

.ipanel-sorter-block-container h3{
	margin-bottom: 5px;
	color: #808080;
	border-bottom: 1px solid rgba(255, 255, 255, 0.9);
	padding-bottom: 5px;
	box-shadow: inset 0 -1px 0 0 rgba(128, 128, 128, 0.08);
}


.ipanel-sorter-block > .ipanel-sorter-placeholder{
	opacity: 0.5;
}

.ipanel-sorter-block > .ipanel-sorter-placeholder,
.ipanel-sorter-block > li{
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background-color: #FAFAFA;
	-webkit-box-shadow: inset 0 1px rgba(255, 255, 255, .07);
	-moz-box-shadow: inset 0 1px rgba(255,255,255,.07);
	box-shadow: inset 0 1px rgba(255, 255, 255, .07);
	background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, .05), rgba(255, 255, 255, .08));
	background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, .05), rgba(255, 255, 255, .08));
	background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, .05), rgba(255, 255, 255, .08));
	background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, .05), rgba(255, 255, 255, .08));
	background-image: linear-gradient(to top, rgba(0, 0, 0, .05), rgba(255, 255, 255, .08));
	padding: 10px;
	cursor: grab;
	cursor: -moz-grab;
	cursor: -webkit-grab;
	margin: 5px 0 10px 0;
	color: #5E5E5E;
	box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.35);
	border: 1px solid #D8D8D8;
	text-shadow: 1px 1px #FFF;
}

.ipanel-sorter-block > li:active{
	cursor: grabbing;
	cursor: -moz-grabbing;
	cursor: -webkit-grabbing;
}

.ipanel-usection{
	background: #fdfdfd;
	margin: 0 0 30px 0;
	border: 1px solid rgb(228, 228, 228);
	padding: 1px;
}
.ipanel-usection h2{
	margin: 0;
	color: rgb(102, 102, 102);
	text-shadow: 1px 1px rgb(255, 255, 255);
	padding: 10px;
	text-align: left;
	border-bottom: 1px solid rgb(228, 228, 228);
	background: rgba(0, 0, 0, 0.03);
	cursor: pointer;
}
.ipanel-usection > div{
	padding: 30px 30px 0px 30px;
}

.ipanel-ltr .ipanel-typography-field .ipanel-input > input[type=text],
.ipanel-ltr .ipanel-repeater-typography > input[type=text]{
	padding: 9px 5px 8px 5px;
	margin: 0 0 0 10px;
}

.ipanel-rtl .ipanel-typography-field .ipanel-input > input[type=text],
.ipanel-rtl .ipanel-repeater-typography > input[type=text]{
	padding: 9px 5px 8px 5px;
	margin: 0 10px 0 0px;
}

.ipanel-ltr .ipanel-typography-field .ipanel-input > .chzn-container,
.ipanel-ltr .ipanel-repeater-typography > label,
.ipanel-ltr .ipanel-repeater-typography > .chzn-container{
	margin-left: 10px;;
}

.ipanel-rtl .ipanel-typography-field .ipanel-input > .chzn-container,
.ipanel-rtl .ipanel-repeater-typography > label,
.ipanel-rtl .ipanel-repeater-typography > .chzn-container{
	margin-right: 10px;;
}

.ipanel-rtl .ipanel-typography-field .ipanel-input,
.ipanel-rtl .ipanel-repeater-typography{
	margin-right: -10px;
}

.ipanel-ltr .ipanel-typography-field .ipanel-input,
.ipanel-ltr .ipanel-repeater-typography{
	margin-left: -10px;
}

.ipanel-info{
	margin-bottom: 30px;
	padding: 10px;
	box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.53);
	border-radius: 2px;
}

.ipanel-info > span{
	text-shadow: 1px 1px white;
}

.ipanel-info.info{
	background: rgb(236, 245, 247);
	border: 1px solid rgb(210, 223, 226);
}

.ipanel-info.info > span{
	color: rgb(68, 111, 121);
}

.ipanel-info.alert{
	background: #fcf8e3;
	border: 1px solid rgb(221, 215, 185);
}

.ipanel-info.alert > span{
	color: rgb(153, 146, 109);
}

.ipanel-info.danger{
	background: rgb(247, 231, 231);
	border: 1px solid rgb(230, 206, 209);
}

.ipanel-info.danger > span{
	color: rgb(192, 99, 97);
}

.ipanel-info.success{
	background: #dff0d8;
	border: 1px solid rgb(194, 211, 180);
}

.ipanel-info.success > span{
	color: #468847;
}

.ipanel-color-picker.ipanel-repeater-color-picker{
	width: 70px !important;
	text-align: center;
}

.ipanel-ltr .ipanel-color-picker{
	float: left;
	margin-right: 5px !important;
}

.ipanel-ltr .ipanel-color-picker-preview{
	width: 30px;
	height: 24px;
	float: left;
	border: 1px solid #DBDBDB;
}

.ipanel-rtl .ipanel-color-picker{
	float: right;
	margin-left: 5px !important;
}

.ipanel-rtl .ipanel-color-picker-preview{
	width: 30px;
	height: 24px;
	float: right;
	border: 1px solid #DBDBDB;
}



.sb-custom {
  cursor: pointer;
  display: inline;
  position: relative;
  width:  100%;
}
.sparkbox-custom {
  display: none;
}
.no-js .sparkbox-custom {
  display: block;
}

.sb-select:focus {
  -webkit-box-shadow: 0 0 4px 2px #79aed7;
	 -moz-box-shadow: 0 0 4px 2px #79aed7;
		  box-shadow: 0 0 4px 2px #79aed7;
}
.sb-select {
  background: #d3d1be url('../img/select-arrow.jpg') no-repeat 100% 50%;
  border: none;
  color: #444;
  left: 0;
  padding: 5px 30px 5px 5px;
  position: relative;
  text-decoration: none;
  top: 0;
  width: 200px;
  z-index: 1;
}
.sb-dropdown {
  background: white;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, .2), inset 0px 6px 8px -8px rgba(0, 0, 0, .5);
	 -moz-box-shadow: 0 0 4px rgba(0, 0, 0, .2), inset 0px 6px 8px -8px rgba(0, 0, 0, .5);
		  box-shadow: 0 0 4px rgba(0, 0, 0, .2), inset 0px 6px 8px -8px rgba(0, 0, 0, .5);
  display: none;
  font-size: .9em;
  left: 5px;
  list-style: none;
  margin: 0;
  padding: 5px;
  position: absolute;
  top: 1.35em;
  width: 200px;
  z-index: 2;
}
.sb-dropdown a {
  color: #444;
  display: block;
  padding: 3px;
  text-decoration: none;
}
.sb-dropdown a:hover,
.sb-dropdown .selected {
  background: #d3d1be;
}



.ipanel-devices-nav {
	text-align: center;
}

.ipanel-devices-nav > ul > li{
	display: inline-block;
	margin: 10px;
	cursor: pointer;
}

.ipanel-devices-nav > ul > li.desktop{
	width: 26px;
	height: 22px;
	background: url(../img/imac.png);
}

.ipanel-devices-nav > ul > li.tablet{
	width: 18px;
	height: 22px;
	background: url(../img/ipad.png);
}

.ipanel-devices-nav > ul > li.phone{
	width: 11px;
	height: 19px;
	background: url(../img/iphone.png);
}


#ipanel-preview-wrap .imac{
	width: 1088px;
	height: 871px;
	margin: 0 auto;
	background: url(../img/imac-large.png);
}

#ipanel-preview-wrap .imac iframe{
	display: inline;
	margin: 39px 0 0 39px;
	border-radius: 4px;
}

#ipanel-preview-wrap .ipad{
	width: 998px;
	height: 1277px;
	margin: 0 auto;
	background: url(../img/ipad-large.png);
}

#ipanel-preview-wrap .ipad iframe{
	display: inline;
	margin: 118px 0 0 114px;
}

#ipanel-preview-wrap .iphone{
	width: 740px;
	height: 1556px;
	margin: 0 auto;
	background: url(../img/iphone-large.png);
}

#ipanel-preview-wrap .iphone iframe{
	display: inline;
	margin: 222px 0 0 52px;
	border-radius: 4px;
}

#ipanel-preview-wrap .ipad,
#ipanel-preview-wrap .iphone{
	display: none;
}

.ipanel-device{
	margin: 15px 0;
}


/*
	
	CUSTOM STYLES
	
*/	

#HIMMELEN_PANEL-tabs-list > div > div#ipanel-tabs > ul > li > a.current_tab:before{
	opacity: 0.8 !important;
}

.ipanel-ltr #HIMMELEN_PANEL-tabs-list > div > div#ipanel-tabs > ul > li > a:before{
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	text-decoration: inherit;
	-webkit-font-smoothing: antialiased;
	font-size: 14px;
	opacity: 0.3;
	margin-right: 10px;
	margin-top: 1px;
	position: relative;
	top: 1px;
}

.ipanel-rtl #HIMMELEN_PANEL-tabs-list > div > div#ipanel-tabs > ul > li > a:before{
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	font-size: 14px;
	opacity: 0.3;
	text-decoration: inherit;
	-webkit-font-smoothing: antialiased;
	font-size: 14px;
	margin-left: 10px;
	margin-top: 1px;
	position: relative;
	top: 1px;
	float: right;
}
.ipanel-rtl .theme-cp-title {
	float: right;
	margin: 4px 20px 0 0;
}
.theme-cp-title {
    float: left;
    margin: 6px 0 0 20px;
    text-align: center;
}
.theme-cp-title sup {
	font-size: 12px;
	color: #777777;
	position: absolute;
	top: 10px;
}
li#tab-documentation > a:before{
	content: "";
}
li#tab-main_settings > a:before{
	content: "";
}
li#tab-wpml_installer > a:before{
	content: "";
}
li#tab-sidebar_settings > a:before{
	content: "";
}
li#tab-team_settings > a:before{
	content: "";
}
li#tab-portfolio_settings > a:before{
	content: "";
}
li#tab-latestposts_settings > a:before{
	content: "";
}
li#tab-sideblock_settings > a:before{
	content: "";
}
li#tab-header_settings > a:before{
	content: "";
}
li#tab-footer_settings > a:before{
	content: "";
}
li#tab-twitter_settings > a:before{
	content: "";
}
li#tab-megamenu_settings > a:before{
	content: "";
}
li#tab-search_settings > a:before{
	content: "";
}
li#tab-font_settings > a:before{
	content: "";
}
li#tab-shop_settings > a:before{
	content: "";
}
li#tab-color_settings > a:before{
	content: "\f133";
}
li#tab-blog_settings > a:before{
	content: "";
}
li#tab-custom_code > a:before{
	content: "\f044";
}

li#tab-export_settings > a:before{
	content: "\f093";
}

li#tab-import_settings > a:before{
	content: "\f019";
}
.colorpicker input {
	width: auto;
}
#ipanel-field-section-footer_payment_icons label {
	display: block;
	margin: 10px 0;
}