/* Theme Name:Himmelen Compareclub
Theme URI:http://magniumthemes.com/
Author:Magnium Themes
Author URI:http://magniumthemes.com/
Description:Himmelen - Premium Responsive WordPress Blogging Theme
Version:1.3
License:GNU General Public License
License URI:license.txt
Tags:light,white,fluid-layout,fixed-layout,responsive-layout,custom-colors,custom-menu,featured-images,post-formats,theme-options 
*/

/* [Table of contents]

1. Bootstrap overrides and common tag styles
2. Pages 
3. Header & Header menu  
4. Main menu  
5. Blog post 
6. Post social share 
7. Navigation for posts 
8. Blog layouts
9. Additional footer
10. Footer 
11. Sidebars 
12. Wordpress default styles overrides 
13. Himmelen Special Elements
14. Himmelen Widgets
15. SelectBox overrides 
16. OWL Carousel slider script overrides
17. Offcavas Menu
18. Pretty Photo
19. Contact form 7 
20. Instagram plugin
21. WooCommerce styles 
22. Mailchimp plugin

*/

/*
* 1. Bootstrap overrides and common tag styles
*/
body {
    font-family: Arial, sans-serif;
    margin-top: 0 !important;
    background: #F7F7F7;
    font-size: 15px;
    color: #000000;
    line-height: 25px;
    text-rendering: optimizeLegibility;
}
p {
    margin-bottom: 25px;
}
a,
a:focus {
    color: #9BA78A;
    text-decoration: underline;
}
a:hover {
    color: #000000;
    text-decoration: none;
}
a:focus {
    text-decoration: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline-style: none;
    outline: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 15px;
}
h1 {
    font-size: 35px;
}
h2 {
    font-size: 25px;
}
h3 {
    font-size: 20px;
}
h4 {
    font-size: 16px;
}
h5 {
    font-size: 14px;
}
h6 {
    font-size: 12px;
}
cite {
    font-style: italic;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    box-shadow: none;
}
input[type="radio"],
input[type="checkbox"] {
    margin: 0;
}
textarea {
    resize: none;
    height: 150px;
    margin-bottom: 30px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
select {
    max-width: 100%;
}
input,
input.input-text,
select,
textarea {
    border: 1px solid #EEEEEE;
    background-color: #ffffff;
    padding: 5px 13px;
    color: #000000;
    font-size: 13px;
    vertical-align: middle;
    box-shadow: none;
    border-radius: 0;
    line-height: 26px;
    border-radius: 3px;
}
.woocommerce form .form-row input.input-text, 
.woocommerce form .form-row textarea,
.woocommerce-cart table.cart td.actions .coupon .input-text {
    line-height: 25px;
}
textarea:focus,
input:focus {
    background: #FBFBFB;
    box-shadow: none;
}
input:focus:invalid:focus,
textarea:focus:invalid:focus,
select:focus:invalid:focus {
   border-color: #fb7f88;
}
input:-moz-placeholder,
textarea:-moz-placeholder,
input:-ms-input-placeholder,
textarea:-ms-input-placeholder,
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #aaaaaa;
    font-size: 13px;
}
a.btn,
.btn,
.btn:focus,
input[type="submit"],
.woocommerce #content input.button, 
.woocommerce #respond input#submit, 
.woocommerce a.button, 
.woocommerce button.button,
.woocommerce input.button, 
.woocommerce-page #content input.button, 
.woocommerce-page #respond input#submit, 
.woocommerce-page a.button, 
.woocommerce-page button.button, 
.woocommerce-page input.button, 
.woocommerce a.added_to_cart, 
.woocommerce-page a.added_to_cart,
a.more-link {
    padding: 13px 30px;
    line-height: 1;
    color: #000000;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    text-align: left;
    text-shadow: none;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    background: #ffffff;
    filter: none;
    box-shadow: none;
    text-align: center;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.woocommerce #content input.button.alt,
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.woocommerce-page #content input.button.alt,
.woocommerce-page #respond input#submit.alt,
.woocommerce-page a.button.alt,
.woocommerce-page button.button.alt,
.woocommerce-page input.button.alt {
    background: #9BA78A;
    border-color: #9BA78A;
    color: #ffffff;
}
.woocommerce #content input.button.alt:hover,
.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover,
.woocommerce-page #content input.button.alt:hover,
.woocommerce-page #respond input#submit.alt:hover,
.woocommerce-page a.button.alt:hover,
.woocommerce-page button.button.alt:hover,
.woocommerce-page input.button.alt:hover {
    text-shadow: none;
}

.btn:hover,
input[type="submit"]:hover,
.woocommerce #content input.button:hover,
.woocommerce #respond input#submit:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover,
.woocommerce-page #content input.button:hover,
.woocommerce-page #respond input#submit:hover,
.woocommerce-page a.button:hover,
.woocommerce-page button.button:hover,
.woocommerce-page input.button:hover,
.woocommerce #content input.button.alt:hover,
.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover,
.woocommerce-page #content input.button.alt:hover,
.woocommerce-page #respond input#submit.alt:hover,
.woocommerce-page a.button.alt:hover,
.woocommerce-page button.button.alt:hover,
.woocommerce-page input.button.alt:hover,
a.more-link:hover {
    background: #000000;
    border-color: #000000;
    color: #fff;
}
.btn:active,
.btn-primary,
.btn-primary:focus {
    color: #ffffff;
    background: #000000;
    box-shadow: none;
}
.btn-primary:hover,
.btn-primary:active {
    background: #000000;
}
.btn.alt {
    background: #9BA78A;
    border-color: #9BA78A;
    color: #ffffff;
}
.btn.alt:hover {
    background: #000000;
    color: #ffffff;
    border-color: #000000;
}
table {
    margin-bottom: 10px;
    border: 1px solid #d9d9d9;
}
table th {
    background: #ffffff;
}
table td,
table th {
    padding: 3px 10px;
    border-bottom: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
}
.label {
    color: inherit;
    font-size: inherit;
    text-align: inherit;
    line-height: inherit;
    white-space: inherit;
}
.panel {
    box-shadow: none;
    border: none;
}
hr {
    border-color: #d9d9d9;
}
blockquote {
    border:0;
    margin-left: 0;
    padding-left: 0;
    background: #eeeeee;
    padding-bottom: 45px;
    padding-top: 45px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 120px;
    padding-right: 120px;
    font-size: 25px;
    line-height: 32px;
}
blockquote:before {
    color: #9BA78A;
    content: '”';
    font-size: 60px;
    margin-left: -50px;
    margin-top: 12px;
    position: absolute;
}
.color input:-moz-placeholder,
.color textarea:-moz-placeholder {
    color: #aaaaaa;
}
.color input:-ms-input-placeholder,
.color textarea:-ms-input-placeholder {
    color: #aaaaaa;
}
.color input::-webkit-input-placeholder,
.color textarea::-webkit-input-placeholder {
    color: #aaaaaa;
}
.color textarea,
.color input {
    background: #ffffff;
    color: #aaaaaa;
}
.clear {
    clear: both;
}
/* *
* 2. Pages 
*/
.page-item-title h1 {
    color: #000000;
    margin-top: 0;
    text-align: center;
    margin-bottom: 37px;
}
.page-item-title-archive h1 {
    color: #000000;
    margin-bottom: 47px;
    text-align: center;
    font-weight: bold;
}
.page-item-title-archive a {
    text-decoration: none;
}
.page-item-title-archive p {
    text-align: center;
    font-size: 10px;
    text-transform: uppercase;
    color: #8f9294;
    margin-bottom: 0;
    margin-top: 45px;
    letter-spacing: 1px;
}
.page-item-title-single h1 {
    color: #000000;
    margin-bottom: 15px;
    text-align: center;
    font-weight: bold;
}
.page-item-title-single.page-item-title-page h1 {
    margin: 50px 0;
}
.page-item-title-single a {
    text-decoration: none;
}
.page-item-title-single .post-categories {
    text-align: center;
    font-size: 10px;
    text-transform: uppercase;
    color: #8f9294;
    margin-bottom: 0;
    margin-top: 45px;
    padding-right: 15px;
    padding-left: 15px;
    letter-spacing: 1px;
}
.page-item-title-single .post-date {
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 45px;
}
.container-fluid.container-page-item-title {
    padding: 0;
    background: #eeeeee;
    margin-bottom: 55px;
    background-size: cover;
    background-position: center center;
}
.container-fluid.container-page-item-title.with-bg * {
    color: #ffffff;
}
.container-fluid.container-page-item-title.with-bg .col-md-12 {
    padding: 0;
    background: rgba(0,0,0,0.3);
}
.container-fluid.container-page-item-title.with-bg .page-item-title-single {
     padding: 120px 0;
     margin: 0;
}
.container-fluid.container-page-item-title .row {
    margin: 0;
}
/* Coming soon page */
.coming-soon-page {
    padding: 200px 0;
}
.coming-soon-page .page-item-title {
    display: none;
}
.wpadminbar-coming-soon-active {
    background: red!important;
}
/* 404 page */
.page-404 {
    margin: 55px auto 100px auto;
    text-align: center;
}
.page-404 h1 {
    font-size: 100px;
    margin-bottom: 30px;
}
.page-404 p {
    margin-bottom: 20px;
}
.page-404 .search-form #s {
    width: 300px;
    margin-right: 10px;
}
/* Search page */
.page-search-no-results {
    margin: 55px auto 100px auto;
    text-align: center;
}
.page-search-no-results h3 {
    font-size: 50px;
    margin-bottom: 30px;
}
.page-search-no-results p {
    margin-bottom: 20px;
}
.page-search-no-results .search-form #s {
    width: 300px;
    margin-right: 10px;
}
/* 
* 3. Header & Header menu  
*/
header {
    background: #ffffff;
    background-repeat: no-repeat;
    background-position: top center;
}
.content-block .page-container,
.content-block .post-container {
    margin-top: 30px;
}
.content-block .page-container .col-md-9,
.content-block .page-container .col-md-12,
.content-block .post-container .col-md-9,
.content-block .post-container .col-md-12 {
    margin-bottom: 50px;
}
header + .content-block .post-container,
header + .content-block .page-container {
    margin-top: 0;
}
header .header-blog-info {
    margin-top: 10px;
    font-size: 12px;
}
header .container {
    padding: 0;
}
header .col-md-12 {
    display: table;
    height: 200px;
}
header .logo {
    font-size: 16px;
}
header .header-left {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    width: 33.3333%;
    padding-left: 15px;
}
header .header-center {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 33.3333%;
}
header .header-right {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    width: 33.3333%;
    padding-right: 15px;
}
header .header-promo-content {
    display: inline;
}
header .header-promo-content img {
    max-width: 100%;
}
ul.header-nav {
    white-space: nowrap;
    display: inline;
    margin-bottom: 0;
    padding: 0;
}
ul.header-nav > li {
    display: inline-block;
    margin-left: 0;
    padding: 0;
}
ul.header-nav > li.float-sidebar-toggle {
    position: relative;
}
ul.header-nav > li.float-sidebar-toggle a {
    font-size: 14px;
    margin-top: 1px;
    cursor: pointer;
    color: #000000;
}
ul.header-nav > li.float-sidebar-toggle a:hover {
    opacity: 0.5;
}
header .header-logo-center .header-center {
    min-width: 0;
    text-align: center;
    width: 40%;
}
header .header-logo-center .header-left {
    width: 30%;
}
header .header-logo-center .header-right {
    width: 30%;
}
.header-info-text {
    padding-top: 12px;
    padding-bottom: 12px;
    margin-left: 5px;
    border-left: 1px solid #eeeeee;
    padding-left: 30px;
}
.search-bar-header {
    margin-top: -10px;
}
.search-bar-header #s {
    font-size: 16px;
    color: #000000;
    border: 0;
    background: none;
    padding: 12px 0;
    width: 300px;
    height: 42px;
    text-align: center;
    background: #ffffff;
    position: absolute;
    left: 50%;
    margin-left: -150px;
    display: none;
}
.search-bar-header .submit {
    padding: 14px;
    background: transparent url("img/search-btn.png") no-repeat center center;
    color: #000;
    width: 16px;
    text-indent: -9999px;
    opacity: 1;
    border: 0;
    box-shadow: none;
}
.search-bar-header .search-bar-header-close-btn {
    color: #000;
    cursor: pointer;
    font-size: 34px;
    height: 30px;
    position: absolute;
    right: 115px;
    text-align: center;
    top: 30px;
    width: 30px;
    z-index: 10000;
    font-family: Arial, serif;
    line-height: 30px;
    display: none;
}
.search-bar-header .search-bar-header-close-btn:hover {
    opacity: 0.5;
}
.search-bar-header .submit:hover {
    background: transparent url("img/search-btn.png") no-repeat center center;
    opacity: 0.5;
    border: 0;
}
@media (-webkit-min-device-pixel-ratio: 2) {
    .search-bar-header .submit {
        background-image: url("img/search-btn@2x.png");
        background-size: 16px 16px;
    }
}
/*
* 4. Main menu  
*/
.navbar {
    border-radius: 0;
    -webkit-border-radius: 0;
    border: none;
    margin: 0;
    line-height: 1.42857;
    position: static;
}
.navbar .nav > li {
    float: left;
}
.nav > li sup,
.nav > li sub {
    text-transform: none;
    font-weight: normal;
    font-size: 12px;
}
.navbar .nav > li.menu-item-has-children > a:after {
    display: inline-block;
    font-family: "fontawesome";
    content: "";
    font-style: normal;
    font-weight: normal;
    margin-left: 10px;
    margin-right: 0;
}
.navbar .nav li.menu-item-has-children.mobile-submenu-opened > a:after {
    content: "";
}
.navbar .nav > li {
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
}
.navbar .nav > li > a {
    color: #000000;
    display: block;
    font-size: 12px;
    padding: 5px 5px;
    margin-left: 30px;
    margin-right: 30px;
    text-decoration: none;
    background: transparent;
    cursor: pointer;
    letter-spacing: 2px;
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent!important;
}
.navbar .nav li a > i.fa {
    margin-right: 10px;
    font-weight: normal;
}
.navbar .nav > li > a:hover {
    background: transparent;
    color: #9BA78A;
    border-bottom: 1px solid #9BA78A;
}
.navbar-fixed-top .navbar-inner,
.navbar-static-top .navbar-inner {
    box-shadow: none;
}
.navbar-left-wrapper {
    float: left;
    width: 65px;
    height: 31px;
    border-right: 1px solid #D9D9D9;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    z-index: 10;
    position: relative;
}
.navbar-center-wrapper {
    float: left;
    width: 100%;
    margin-left: -65px;
    margin-right: -65px;
    border-top: 1px solid #D9D9D9;
    padding-top: 0;
    padding-bottom: 0;
}
.navbar-right-wrapper {
    float: left;
    width: 65px;
    height: 31px;
    border-left: 1px solid #D9D9D9;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: right;
}
.navbar {
    background: none;
    min-height: 0;
}
.navbar-collapse {
    padding: 0;
    max-height: inherit;
    clear: both;
}
.navbar .nav ul {
    list-style: none;
}
.navbar .navbar-toggle {
    background: transparent;
    cursor: pointer;
    color: #000000;
    border: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    padding: 14px 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: none;
    margin: 0 auto;
    float: none;
    width: 180px;
    position: absolute;
    left: 50%;
    margin-left: -75px;
    top: 20px;
}
.navbar .navbar-toggle:after {
    display: inline-block;
    font-family: "fontawesome";
    content: "";
    margin-left: 5px;
    font-weight: normal;
}
.navbar .navbar-toggle:hover {
    background: transparent;
}
.nav .sub-menu {
    display: none;
    position: absolute;
    margin: 0;
    text-align: left;
    z-index: 100000;
    padding: 0;
}
.nav > li .sub-menu {
    margin-top: 0;
    background: #9BA78A;
}
.nav > li > .sub-menu {
    margin-top: 30px;
}
.navbar .nav .sub-menu li {
    float: none;
    position: relative;
}
.nav .sub-menu li.menu-item > a {
    display: block;
    background: transparent;
    color: #ffffff;
    font-weight: normal;
    min-width: 190px;
    text-decoration: none;
    padding: 8px 20px;
    cursor: pointer;
    border: 1px solid rgba(255,255,255,0.2);
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    font-size: 11px;
}
.nav .sub-menu li.menu-item > a span {
    display: block;
    text-transform: none;
    font-weight: normal;
}
.nav .sub-menu li.menu-item:last-child > a {
    border-bottom: 1px solid rgba(255,255,255,0.2);
}
.nav .sub-menu li.menu-item > a:hover {
    text-decoration: none;
    color: #ffffff;
    background: rgba(255,255,255,0.3);
}
.nav .sub-menu li .sub-menu,
.nav .children li .children {
    top: 0;
    right: -99.5%;
}
.navbar .sub-menu li.menu-item-has-children > a:after {
    display: inline-block;
    font-family: "fontawesome";
    content: "";
    margin-left: 5px;
    font-weight: normal;
    font-style: normal;
    float: right;
}
.nav li:hover > .sub-menu {
    display: block;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border: none;
}
.mainmenu-belowheader {
    background: #ffffff;
}
.mainmenu-belowheader.fixed {
    top: -50px;
    position: fixed;
    width: 100%;
    z-index: 5000;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding-top: 0;
    padding-bottom: 0;
}
.mainmenu-belowheader.fixed .navbar-center-wrapper {
    border-top: none;
}
.mainmenu-belowheader.fixed .navbar-left-wrapper,
.mainmenu-belowheader.fixed .navbar-right-wrapper {
    margin-bottom: 15px;
    margin-top: 15px;
}
.mainmenu-belowheader.fixed .navbar .nav > li {
    padding-bottom: 15px;
    padding-top: 15px;
}
.mainmenu-belowheader.fixed .nav > li > .sub-menu {
    margin-top: 15px;
}
.mainmenu-belowheader .navbar {
    position: relative;
}
.mainmenu-belowheader .navbar .container {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}
.mainmenu-belowheader .navbar {
    margin-left: 0;
    min-height: 0;
}
.mainmenu-belowheader .navbar .nav > li > a {
    text-align: center;
}
.mainmenu-belowheader .navbar .nav > li > a span {
    display: block;
    font-size: 12px;
    color: #8f9294;
    text-transform: none;
    font-weight: normal;
    margin-top: 5px;
    letter-spacing: 0;
}
.mainmenu-belowheader.menu-center .nav {
    display: table;
    margin: 0 auto;
    padding-left: 65px;
    padding-right: 65px;
}
.mainmenu-belowheader.mainmenu-uppercase .navbar .nav > li > a,
.mainmenu-belowheader.mainmenu-uppercase .nav .sub-menu li.menu-item > a {
    text-transform: uppercase;
}
.mainmenu-belowheader.mainmenu-italic .navbar .nav > li > a,
.mainmenu-belowheader.mainmenu-italic .nav .sub-menu li.menu-item > a {
    font-style: italic;
}
.mainmenu-belowheader.mainmenu-largefont .navbar .nav > li > a,
.mainmenu-belowheader.mainmenu-largefont .nav .sub-menu li.menu-item > a {
    font-size: 16px;
}
.mainmenu-belowheader.mainmenu-rightarrow .navbar .nav > li.menu-item-has-children > a:after {
    content: "";
}
.mainmenu-belowheader.mainmenu-noarrow .navbar .nav > li.menu-item-has-children > a:after {
    display: none;
}
.mainmenu-belowheader.mainmenu-noarrow .navbar .nav > li > a {
    height: 31px;
}
.social-icons-wrapper a {
    color: #838d8f;
    border: 1px solid #D9D9D9;
    border-radius: 16px;
    width: 32px;
    height: 32px;
    line-height: 30px;
    text-align: center;
    margin-right: 10px;
    display: inline-block;
}
.social-icons-wrapper a:hover {
    color: #9BA78A; 
    border-color: #9BA78A;
}
.social-icons-wrapper .fa {
    font-size: 14px;
}
/* 
* 5. Blog post 
*/
.post-content-wrapper {
    position: relative;
}
.post-container,
.page-container  {
    margin-top: 45px;
}
.blog-post {
    margin-bottom: 70px;
    clear: both;
}
.blog-post.blog-post-single {
    margin-bottom: 35px;
}
.blog-post-single .post-content-wrapper {
    width: 100%;
    float: none;
}
.blog-post.blog-post-vertical .blog-post-thumb {
    float: left;
    width: 55.4%;
    padding-right: 70px;
    margin-bottom: 0;
}
.blog-post.blog-post-vertical .post-content {
    float: left;
    width: 44.6%;
}
.col-md-12 .blog-post.blog-post-vertical .blog-post-thumb {
    width: 41.2%;
}
.col-md-12 .blog-post.blog-post-vertical .post-content {
    width: 58.8%;
}
.content-block.blog-post.blog-post-2-column-layout:not(:nth-child(1)) .post-info > div.post-author {
    display: none;
}
.content-block.blog-post.blog-post-2-column-layout:not(:nth-child(1)) .post-info > div.post-author + div {
    border-left: 0;
}
.content-block.blog-post.blog-post-2-column-layout:not(:nth-child(1)) .post-info > div {
    width: 50%;
}
.content-block.blog-post.blog-post-2-column-layout:not(:nth-child(1)) {
    padding-left: 15px;
    width: 50%;
    float: left;
    clear: none;
    background: none;
    box-shadow: none;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    border-bottom: 0;
}
.content-block.blog-post.blog-post-2-column-layout:nth-child(2n) {
    padding-left: 0;
    padding-right: 15px;
}
.content-block.blog-post.blog-post-2-column-layout:nth-child(2n+2) {
    clear: both;
}
.blog-post.blog-post-2-column-layout .blog-post-media.blog-post-media-video iframe,
.blog-post.blog-post-2-column-layout .blog-post-media.blog-post-media-audio iframe {
    height: 321px;
}
.blog-post.blog-post-2-column-layout:first-child .blog-post-media.blog-post-media-video iframe,
.blog-post.blog-post-2-column-layout:first-child .blog-post-media.blog-post-media-audio iframe {
    height: 660px;
}
.col-md-9 .blog-post.blog-post-2-column-layout .blog-post-media.blog-post-media-video iframe,
.col-md-9 .blog-post.blog-post-2-column-layout .blog-post-media.blog-post-media-audio iframe {
    height: 237px;
}
.col-md-9 .blog-post.blog-post-2-column-layout:first-child .blog-post-media.blog-post-media-video iframe,
.col-md-9 .blog-post.blog-post-2-column-layout:first-child .blog-post-media.blog-post-media-audio iframe {
    height: 491px;
}
.blog-post iframe { 
    width: 100%;
    margin-bottom: -8px;
}
.blog-post .blog-post-media.blog-post-media-video iframe {
    height: 660px;
}
.col-md-9 .blog-post .blog-post-media.blog-post-media-video iframe {
    height: 491px;
}
.blog-post > .post > .post-content-wrapper > .entry-content {
    margin-bottom: 30px;
}
.blog-post.blog-post-single .post-content {
    margin-left: 0;
}
.blog-post .entry-content p:last-child {
    margin-bottom: 0;
}
.blog-post .tags {
   display: inline-block;
   margin-top: 30px;
}
.blog-post .tags a {
    background: #eeeeee;
    color: #000000;
    padding: 0 10px;
    display: inline-block;
    text-decoration: none;
    margin-right: 5px;
    border-radius: 3px;
    margin-top: 2px;
    margin-bottom: 2px;
}
.blog-post .tags a:hover {
    color: #ffffff;
    background: #9BA78A;
}
.blog-post .post-content {
    background: transparent;
    padding: 0;
}
.blog-post .post-content img {
    max-width: 100%;
    height: auto;
}
.blog-post .entry-content h1,
.blog-post .entry-content h2,
.blog-post .entry-content h3,
.blog-post .entry-content h4,
.blog-post .entry-content h5,
.blog-post .entry-content h6,
.page .entry-content h1,
.page .entry-content h2,
.page .entry-content h3,
.page .entry-content h4,
.page .entry-content h5,
.page .entry-content h6,
.comment-content h1,
.comment-content h2,
.comment-content h3,
.comment-content h4,
.comment-content h5,
.comment-content h6 {
    margin-top: 30px;
}
.blog-post .entry-content h5,
.page .entry-content h5 {
    letter-spacing: 1px;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: normal;
}
.blog-post .more-link {
    display: table;
    margin: 0 auto;
    margin-top: 40px;
    text-transform: uppercase;
    font-style: normal;
}
.blog-post .post-format:before {
    margin-top: 7px;
    text-align: center;
    color: #fff;
    display: inline-block;
    font-family: "FontAwesome";
    font-size: 19px;
}
.blog-post .format-standard .post-format:before {
    content: "";
}
.blog-post .type-page .post-format:before {
    content: "";
}
.blog-post .format-aside .post-format:before {
    content: "";
}
.blog-post .format-image .post-format:before {
    content: "";
}
.blog-post .format-gallery .post-format:before {
    content: "";
}
.blog-post .format-quote .post-format:before {
    content: "";
}
.blog-post .format-video .post-format:before {
    content: "";
}
.blog-post .format-audio .post-format:before {
    content: "";
}
.blog-post .format-link .post-format:before {
    content: "";
}
.blog-post .format-status .post-format:before {
    content: "";
}
.blog-post .format-chat .post-format:before {
    content: "";
}
.blog-post .format-status .entry-content,
.blog-post .format-status .entry-summary {
    font-style: italic;
    font-size: 20px;
}
.blog-post .format-status .post-header-title {
    display: none;
}
.blog-post .format-link .post-header-title {
    display: none;
}
.blog-post .format-quote .post-header-title {
    display: none;
}
.blog-post .format-aside .post-header-title {
    display: none;
}
.blog-post .format-quote .entry-content {
    border:0;
    margin-left: 0;
    padding-left: 0;
    background: #eeeeee;
    padding-bottom: 25px;
    padding-top: 25px;
    padding-left: 90px;
    padding-right: 50px;
    font-size: 18px;
    line-height: 25px;
}
.blog-masonry-layout .blog-post .format-quote .entry-content {
    padding: 0;
    background: none;
    font-size: 20px;
    padding-left: 25px;
}
.blog-masonry-layout .blog-post .format-quote .entry-content:before {
    margin-left: -30px;
}
.blog-post .format-quote .entry-content:before {
    color: #9BA78A;
    content: '"';
    font-size: 60px;
    margin-left: -50px;
    margin-top: 13px;
    position: absolute;
}
.blog-post .format-link .entry-content,
.blog-post .format-link .entry-summary {
    font-style: italic;
    font-size: 20px;
}
.blog-post .post-categories {
    display: table;
    color: #9BA78A;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 5px;
    text-transform: uppercase;
    position: relative;
    letter-spacing: 1px;
    font-size: 10px;
}
.blog-post .post-categories a {
    color: #9BA78A;
    text-decoration: none;
}
.blog-post .post-categories a:hover {
    color: #000000;
}
.blog-post .post-header-title {
    margin-top: 0;
    margin-bottom: 12px;
    font-size: 26px;
    text-align: center;
}
.blog-post .post-header-title sup {
    font-size: 20px;
    color: #9BA78A;
    margin-left: 10px;
}
.blog-post .post-header-title a {
    color: #000000;
    text-decoration: none;
}
.blog-post .post-header-title a:hover {
    color: #9BA78A;
}
.blog-post .post-info {
     border: 1px solid #d9d9d9;
    text-align: center;
    color: #8f9294;
    margin-top: 45px;
    font-size: 12px;
}
.blog-post .post-info > div {
    display: block;
    border-left: 1px solid #d9d9d9;
    width: 33.3333%;
    padding: 11px;
    float: left;
    color: #000000;
}
.blog-post .post-info > div:first-child:nth-last-child(1) {
    width: 100%;
}
.blog-post .post-info > div:first-child:nth-last-child(2) {
    width: 50%;
}
.blog-post .post-info > div:first-child:nth-last-child(3) {
    width: 33.3333%;
}
.blog-masonry-layout .blog-post .sticky.has-post-thumbnail .post-info > div {
    color: #ffffff;
}
.blog-post .post-info > div a {
    color: #000000;
}
.blog-post .post-info > div a:hover {
    color: #9BA78A;
}
.blog-post .post-info > div:first-child {
    border-left: 0;
}
.blog-post .post-info .edit-link {
    display: none;
}
.blog-post .post-info-date {
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 20px;   
}
.blog-post .post-info a {
    color: #8f9294;
    text-decoration: none;
}
.blog-post .post-info .edit-link a {
    background: #eee;
    padding: 3px 10px;
    border-radius: 3px;
}
.blog-post .post-info .edit-link a:hover {
    color: #000000;
}
.blog-post .blog-post-thumb {
    margin-bottom: 35px;
}
.blog-post .blog-post-thumb img {
    width: 100%;
    height: auto;
}
.blog-post:hover .blog-post-thumb img {
    opacity: 0.8;
}
.author-bio {
    margin-bottom: 35px;
    background: #ffffff;
}
.author-bio strong {
    color: #000000;
    font-size: 26px;
    display: block;
    font-weight: normal;
    margin-bottom: 20px;
}
.author-bio h5 {
    margin-top: 35px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 10px;
}
.author-bio .author-info {
    display: table;
}
.author-bio .author-description {
    padding-right: 35px;
    font-size: 14px;
    margin-bottom: 20px;
    color: #acacac;
}
.author-bio .author-social-icons {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 25px;
}
.author-bio .author-social-icons li {
    display: inline-block;
}
.author-bio .author-social-icons li a {
    color: #000000;
    border: 1px solid #d9d9d9;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 16px;
    margin-left: -1px;
    padding-top: 10px;
    display: block;
}
.author-bio .author-social-icons li:first-child a {
    margin-left: 0;
}
.author-bio .author-social-icons li a:hover {
    color: #9BA78A;
}
.author-bio .author-image {
    width: 160px;
    height: 160px;
    overflow: hidden;
    float: left;
    margin-right: 35px;
    margin-left: 35px;
    margin-top: 35px;
    margin-bottom: 35px;
}
.blog-post-related {
    margin-left: -15px;
    margin-right: -15px;
    margin-top: 30px;
}
.single-post .blog-post-related {
    margin-bottom: 30px;
}
.blog-post-related h5 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 45px;
}
.single-post .blog-post-related h5 {
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
}
.blog-post-related-item {
    float: left;
    width: 33.33333%;
    padding-right: 15px;
    padding-left: 15px;
}
.blog-post-related-item-details {
    padding: 20px;
    background-color: #9BA78A;
    color: #ffffff;
    text-align: center;
}
.blog-post-related-item .blog-post-related-image img {
    max-width: 100%;
    height: auto;
}
.blog-post-related-item .blog-post-related-image {
    margin-bottom: 15px;
    display: block;
}
.blog-post-related-single .blog-post-related-item .blog-post-related-image {
    margin-bottom: 0;
}
.blog-post-related-single .blog-post-related-item:hover .blog-post-related-image {
    opacity: 0.8;
}
.blog-post-related .blog-post-related-title {
    text-decoration: none;
    font-size: 16px;
    margin: 0 auto;
    margin-bottom: 10px;
    display: table;
}
.blog-post-related-single .blog-post-related-title,
.blog-post-related-single .blog-post-related-title:hover {
    color: #ffffff;
}
.blog-post-related-single .post-categories,
.blog-post-related-single .post-categories a,
.blog-post-related-single .post-categories a:hover {
    color: #ffffff;
    text-decoration: none;
}
.blog-post-related-single .post-categories {
    letter-spacing: 1px;
    font-size: 10px;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.blog-post-related-item .blog-post-related-date {
    color: #8f9294;
}
.blog-post-related-single .blog-post-related-date {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 12px;
}
.blog-post.blog-post-list-layout + .blog-post-related.blog-post-related-loop {
    margin-top: 40px;
}
.blog-post-related.blog-post-related-loop .blog-post-related-separator {
    margin-left: 15px;
    margin-right: 15px;
}
.blog-post-related.blog-post-related-loop h5 {
    margin-bottom: 25px;
}
.blog-post-related.blog-post-related-loop .blog-post-related-item .blog-post-related-image {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.blog-post-related.blog-post-related-loop .blog-post-related-item a {
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    margin-bottom: 0;
    display: block;
}
.blog-post-related.blog-post-related-loop .blog-post-related-item .blog-post-related-date {
    text-transform: uppercase;
    font-size: 12px;
}
.blog-post-related.blog-post-related-loop .blog-post-related-item .blog-post-related-title,
.blog-post-related.blog-post-related-loop .blog-post-related-item .blog-post-related-date {
    color: #ffffff;
}
.blog-post-related.blog-post-related-loop .blog-post-related-item .blog-post-related-item-inside {
    padding: 40px 30px 10px;
    background: rgba(0, 0, 0, 0.5);
    min-height: 155px;
}
.blog-post-related.blog-post-related-loop .blog-post-related-item .blog-post-related-image.blog-post-related-no-image .blog-post-related-item-inside {
    background: #9BA78A;
}
.blog-post-related.blog-post-related-loop .blog-post-related-item:hover .blog-post-related-item-inside {
    display: block;
    background: #9BA78A;
}
.blog-post-bottom .blog-post-bottom-comments {
    margin-top: 15px;
    float: left;
}
.blog-post .sticky-post-badge {
    background: #9BA78A;
    position: absolute;
    padding: 5px 20px;
    color: #ffffff;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 12px;
    right: 0;
}
.blog-post .sticky-post-badge.sticky-post-without-image {
    right: 0;
}
/* 
* 6. Post social share 
*/
.post-social {
    font-size: 14px;
    margin-bottom: 0;
    float: left;
}
.post-social-wrapper {
    display: table;
    margin: 0 auto;
}
.blog-post-bottom .post-social-wrapper {
    margin-top: 5px;
}
.post-social a {
    color: #000000;
    font-size: 16px;
    margin-right: 5px;
    margin-left: 5px;
    text-decoration: none;
    width: 16px;
    height: 16px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    padding-top: 0;
    line-height: 16px;
}
.post-social a:hover {
    color: #9BA78A;
}
/* 
* 7. Navigation for posts 
*/
.navigation-paging.navigation-post a {
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-size: 12px;
    color: #9BA78A;
}
.navigation-paging.navigation-post a:hover {
    color: #ffffff;
}
.navigation-post a {
    background: #ffffff;
    color: #000000;
    padding: 40px 30px;
    text-align: left;
    display: block;
    margin-left: -15px;
    margin-right: -15px;
}
.navigation-post .nav-post-prev a {
    text-align: right;
    margin-right: 0;
}
.navigation-post .nav-post-next a {
    margin-left: 0;
}
.navigation-post a:hover {
    background: #9BA78A;
    color: #ffffff;
}
.navigation-post a,
.navigation-post a:hover {
    text-decoration: none;
}
.navigation-post .nav-post-name {
    font-size: 14px;
    color: #000000;
}
.navigation-post a:hover .nav-post-name {
    color: #ffffff;
}
.navigation-post .nav-post-title {
    text-transform: uppercase;
    font-size: 12px;
    color: #9BA78A;
}
.navigation-post a:hover .nav-post-title {
    color: #ffffff;
}
/*
* 8. Blog layouts
*/

/*
* 8.1. Masonry blog layout 
*/
.blog-masonry-layout {
    margin-left: -15px;
    margin-right: -15px;
}
.blog-masonry-layout .blog-post {
    padding-left: 15px;
    padding-right: 15px;
    width: 33.3333%;
    float: left;
    display: block;
}
.col-md-9 .blog-masonry-layout .blog-post {
    width: 50%;
}
.blog-masonry-layout .sticky:not(.sticky-post-without-image) .post-content-wrapper {
    background-position: center center;
    background-size: cover;
}
.blog-masonry-layout .blog-post.content-block .sticky:not(.sticky-post-without-image) .post-content {
    background: none;
    padding: 100px 50px 90px;
    background: rgba(0, 0, 0, 0.5);
}
.blog-masonry-layout .blog-post .post-info > div {
    border: 0;
}
.blog-masonry-layout .blog-post.content-block .sticky:not(.sticky-post-without-image) .post-content,
.blog-masonry-layout .blog-post.content-block .sticky:not(.sticky-post-without-image) .post-content .post-info,
.blog-masonry-layout .blog-post.content-block .sticky:not(.sticky-post-without-image) .post-content a:not(.more-link),
.blog-masonry-layout .blog-post.content-block .sticky:not(.sticky-post-without-image) a.more-link:hover {
    color: #ffffff;
}
.blog-masonry-layout .blog-post.content-block .sticky:not(.sticky-post-without-image) .post-content .post-info {
    font-size: 12px;
}
.blog-posts-list.blog-masonry-layout .blog-post .sticky:not(.sticky-post-without-image) .post-info .edit-link a {
    background: #000000;
}
.blog-masonry-layout .blog-post.content-block {
    margin-bottom: 30px!important;
    border-bottom: 0!important;
    padding-bottom: 0;
}
.blog-masonry-layout .blog-post.content-block .post-content {
    padding: 30px 30px 40px;
    background: #ffffff;
}
.blog-masonry-layout .blog-post.content-block .blog-post-thumb {
    margin-bottom: 0;
}
.blog-masonry-layout .blog-post.content-block .blog-post-bottom {
    margin-top: 30px;
}
.blog-masonry-layout .blog-post.content-block .post-info {
    margin-bottom: 10px;
}
.blog-masonry-layout .blog-post.content-block .post-header-title {
    margin-bottom: 10px;
}
.blog-masonry-layout .blog-post .blog-post-media.blog-post-media-video iframe {
    height: 208px;
}
.blog-masonry-layout + .navigation-paging {
   
}
/*
* 8.2. List blog layout 
*/
.blog-post-list-layout.blog-post {
    display: table;
    width: 100%;
    padding-bottom: 0;
    border-bottom: 0;
    margin-bottom: 45px;
}
.blog-post-list-layout.blog-post .blog-post-thumb {
    width: 400px;
    height: 300px;
    display: table-cell;
    background-color: #eeeeee;
    background-position: center center;
    background-size: cover;
}
.blog-post-list-layout.blog-post .post-content {
    width: 100%;
    padding: 45px;
    background: #ffffff;
}
.blog-post-list-layout.blog-post .blog-post-thumb + .post-content {
    display: table-cell;
    vertical-align: top;
    width: 65%;
}
.blog-post-list-layout.blog-post .blog-post-bottom .blog-post-bottom-comments {
    float: right;
    margin-top: 8px;
}
.blog-post-list-layout.blog-post .blog-post-bottom .blog-post-bottom-comments a:before {
    content: "";
    font-family: "FontAwesome";
    display: inline-block;
    margin-right: 5px;
}
.blog-post-list-layout.blog-post .blog-post-bottom {
    margin-top: 20px;
}
.blog-post-list-layout.blog-post .post-info {
    margin-bottom: 20px;
}
.blog-post.blog-post-list-layout .blog-post-media.blog-post-media-video iframe,
.blog-post.blog-post-list-layout .blog-post-media.blog-post-media-audio iframe {
    height: 300px;
    margin-bottom: -10px;
}
.blog-post.blog-post-list-layout .blog-post-media.blog-post-media-gallery .owl-carousel {
    width: 400px;
}
.col-md-9 .blog-post.blog-post-list-layout .blog-post-media.blog-post-media-gallery .owl-carousel {
    width: 297px;
}
/* 
* 9. Additional footer 
*/
.container-fluid-footer {
    padding: 0;
    background: #3C3D41;
}
.container-fluid-footer > .row {
    margin: 0;
}
.content-block + .container-fluid-footer {
    margin-top: 50px;
}
.footer-container {
    padding: 85px 0 50px;
    color: rgba(255, 255, 255, 0.5);/*#b0b0b0;*/
}
.footer-sidebar.sidebar .widgettitle,
.footer-sidebar-2.sidebar .widgettitle {
    color: #ffffff;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    background: none;
    border: none;
    margin: 0;
    margin-bottom: 14px;
    margin-top: 5px;
    padding: 0;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 2px;
    font-weight: normal;
    text-align: left;
}
.footer-sidebar.sidebar .widgettitle {
    color: #000000;
    margin-top: 0;
    margin-bottom: 20px;
}
.footer-sidebar.sidebar .widget,
.footer-sidebar-2.sidebar .widget {
    border: 0;
    padding: 0;
    padding-right: 10px;
}
.footer-sidebar.sidebar .widget ul > li,
.footer-sidebar-2.sidebar .widget ul > li {
    border-bottom: none;
    padding-top: 0;
    padding-bottom: 10px;
    text-transform: none;
    font-size: inherit;
}
.footer-sidebar.sidebar .widget ul > li.page_item_has_children > a,
.footer-sidebar-2.sidebar .widget ul > li.page_item_has_children > a {
    border-bottom: none;
    display: inline;
    padding-bottom: 0;
}
.footer-sidebar.sidebar .widget ul > li a,
.footer-sidebar-2.sidebar .widget ul > li a {
    font-weight: normal;
}
.footer-sidebar-2.sidebar .widget a {
    color: #ffffff;
    text-decoration: none;
}
.footer-sidebar-2.sidebar .widget a:hover {
    text-decoration: none;
    color: #9BA78A;
}
.footer-sidebar-2.sidebar .widget.widget_text i.fa {
    width: 20px;
}
.footer-container ul {
    list-style: none;
    padding: 0;
}
/* 
* 10. Footer 
*/
footer {
    padding: 20px 0;
    background-color: rgba(256, 256, 256, 0.1);
    color: #ffffff;
}
footer a {
    color: #ffffff;
    text-decoration: none;
}
footer a:hover {
    color: #9BA78A;
    text-decoration: none;
}
footer .container {
    padding-left: 0;
    padding-right: 0;
}
footer .container > .row {
    margin: 0;
}
footer .footer-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
footer .footer-menu ul li {
    display: inline;
    margin-right: 20px;
}
footer .footer-menu ul li:last-child {
    margin-right: 0;
}
footer .copyright {
    text-align: right;
}
#top-link {
    display: block;
    color: #fff;
    bottom: -60px;
    position: fixed;
    right: 40px;
    width: 40px;
    height: 40px;
    z-index: 999;
    text-align: left;
    border-radius: 3px;
    background-color: #9BA78A;
}
#top-link:before {
    font-family: "FontAwesome";
    display: inline-block;
    content: "";
    font-size: 20px;
    margin-left: 13px;
    margin-top: 5px;
}
#top-link:hover {
    background-color: #8f9294;
}
/* 
* 11. Sidebars 
*/
.sidebar {
    margin-top: 40px;
}
.content-block .sidebar {
    margin-top: 0;
}
.sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.sidebar > ul > li {
    margin-bottom: 30px;
}
.sidebar .widget {
    border: 1px solid #d9d9d9;
    padding: 15px;
    overflow: hidden;
}
.sidebar .widgettitle {
    color: #000000;
    font-size: 18px;
    font-weight: bold;
    position: static;
    margin-bottom: 20px;
    margin-top: 0;
    display: block;
    text-align: center;
    border-bottom: 1px solid #d9d9d9;
    padding-top: 0;
    padding-bottom: 15px;
}
.sidebar .widget ul > li {
    border-bottom: 1px dashed #d9d9d9;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
}
.sidebar .widget ul > li.page_item_has_children > a {
    border-bottom: 1px dashed #d9d9d9;
    display: block;
    padding-bottom: 7px;
}
.sidebar .widget ul > li ul {
    margin-top: 10px;
    margin-bottom: -10px;
}
.sidebar .widget ul > li ul li {
    padding-left: 15px;
}
.sidebar .widget ul > li a {
    font-weight: bold;
    color: #000000;
    text-decoration: none;
}
.sidebar .widget ul > li a:hover {
    color: #9BA78A;
    text-decoration: none;
}
.sidebar .widget ul > li:first-child {
    padding-top: 0;
}
.sidebar .widget ul > li:last-child {
    border-bottom: none;
}
.sidebar .widget a {
    text-decoration: none;
}
.sidebar .widget a:hover {
    text-decoration: underline;
}
.sidebar .widget:first-child .widgettitle {
    margin-top: 0;
}
.sidebar .widget_search input[type="submit"] {
    width: 100%;
}
.sidebar .widget input[type="search"], 
.sidebar .widget input[type="text"], 
.sidebar .widget input[type="password"],
.sidebar .widget .select2-container {
    width: 100%;
    margin-bottom: 10px;
}
.sidebar .widget_search form {
    margin-bottom: 0;
}
.sidebar .widget_text a {
    color: #9BA78A;
}
.sidebar .widget_calendar caption {
    margin-bottom: 10px;
    font-size: 14px;
}
.sidebar .widget_calendar th {
    background: #9BA78A;
    color: #fff;
    border: 1px solid #eeeeee;
    text-align: center;
    padding: 5px;
}
.sidebar .widget_calendar tbody td {
    background: #fff;
    border: 1px solid #eeeeee;
    padding: 5px;
}
.sidebar .widget_calendar tbody td a {
    border: 1px solid #9BA78A;
    display: block;
}
.sidebar .widget_calendar tfoot td {
    background: #9BA78A;
    padding: 5px;
}
.sidebar .widget_calendar tfoot td a {
    color: #fff;
    display: block;
}
.sidebar .widget_calendar tbody td.pad,
.sidebar .widget_calendar tfoot td.pad {
    background: #eeeeee;
    border: none;
}
.sidebar .widget_tag_cloud .tagcloud,
.sidebar .widget_product_tag_cloud .tagcloud {
    text-align: left;
}
.sidebar .widget_tag_cloud .tagcloud a,
.sidebar .widget_product_tag_cloud .tagcloud a {
    background: #eeeeee;
    padding: 5px 10px;
    margin-right: 5px;
    margin-bottom: 10px;
    display: inline-block;
    text-decoration: none;
    line-height: 20px;
    vertical-align: middle;
}
.sidebar .widget_tag_cloud .tagcloud a:hover,
.sidebar .widget_product_tag_cloud .tagcloud a:hover {
    text-decoration: none;
    background-color: #9BA78A;
    color: #ffffff;
}
.sidebar .widget_calendar table {
    width: 100%;
    text-align: center;
    background: #eeeeee;
}
.sidebar .widget_calendar #calendar_wrap {
}
.sidebar .widget img {
    max-width: 100%;
    height: auto;
}
.sidebar .widget_rss li {
    margin-bottom: 20px;
}

.sidebar .widget.widget_nav_menu ul > li.menu-item-has-children > a {
    font-weight: bold;
    display: block;
}
.sidebar .widget.widget_nav_menu ul.sub-menu {
    display: none;
}
.sidebar .widget.widget_nav_menu ul.menu > li ul li {
    margin-left: 15px;
}
.sidebar .widget.widget_nav_menu li.menu-item-has-children > a:after {
    display: inline-block;
    font-family: "fontawesome";
    content: "";
    margin-left: 5px;
    font-weight: normal;
    float: right;
}
.sidebar .widget.widget_nav_menu li.menu-item-has-children.mobile-submenu-opened > a:after {
    content: "";
}
.sidebar.footer-sidebar {
    margin-bottom: 0;
    margin-top: 85px;
    margin-bottom: 40px;
    padding: 0;
    padding-left: 15px;
    padding-right: 15px;
}
.sidebar.footer-sidebar > ul > li {
    float: left;
    width: 20%;
    min-height: 250px;
    margin-bottom: 35px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 15px;
    position: relative;
}
.sidebar.footer-sidebar > ul > li:nth-of-type(5n+1) {
    clear: both;
}
.sidebar.footer-sidebar .product_list_widget li {
    border-bottom: 1px solid rgba(0,0,0, 0.05);
}
.sidebar.footer-sidebar .product_list_widget li:first-child {
    padding-top: 0;
}
.sidebar.footer-sidebar .product_list_widget li:last-child {
    padding-bottom: 0;
    border-bottom: none;
}
.sidebar.footer-sidebar-2 {
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 15px;
    padding-right: 15px;
}
.sidebar.footer-sidebar-2.sidebar {
    font-weight: normal;
}
.sidebar.footer-sidebar-2 .widget a {
    color: #ffffff;
}
.sidebar.footer-sidebar-2 > ul > li {
    float: left;
    width: 20%;
    margin-bottom: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 30px 0 0;
}
.sidebar.footer-sidebar-2 > ul > li:nth-child(3n) {
    padding-right: 0;
}
.sidebar.footer-sidebar-2 .widget:first-child .widgettitle {
    margin-top: 0;
}
.sidebar.footer-sidebar-2 > ul > li {
    margin-bottom: 20px;
}
.sidebar.footer-sidebar-2 > ul > li:nth-of-type(5n+1) {
    clear: both;
}
.sidebar.footer-sidebar-2 .select2-container .select2-choice,
.sidebar.footer-sidebar-2 .widget_calendar tbody td a,
.sidebar.footer-sidebar-2 .widget_tag_cloud .tagcloud a,
.sidebar.footer-sidebar-2 .widget_product_tag_cloud .tagcloud a {
    color: #000000;
}
.sidebar.footer-sidebar-2 .widget_tag_cloud .tagcloud a:hover,
.sidebar.footer-sidebar-2 .widget_product_tag_cloud .tagcloud a:hover {
    color: #ffffff;
}
/* 
* 12. Wordpress default styles overrides 
*/
/* Text meant only for screen readers. */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; /* Above WP toolbar. */
}
.mejs-container .mejs-controls div {
    line-height: 16px!important;
}
.mejs-container {
    overflow: hidden;
}
.category-description {
    margin-bottom: 30px;
    background: #ffffff;
}
.taxonomy-description {
    padding: 15px;
}
.taxonomy-description p {
    margin: 0;
}
.blog-header-title {
    margin: 70px 0;
    text-transform: uppercase;
}
.about-meta {
    margin-top: 30px;
}
.about-meta i {
    margin-right: 5px;
    margin-left: 5px;
}
.comments-form-wrapper {
    margin-top: 50px;
    padding: 35px;
    background: #ffffff;
}
.comment-respond {
    padding-bottom: 30px;
}
.comments-form-wrapper .comment-respond {
    padding-bottom: 0;
}
.comment-form label {
    display: inline-block;
    min-width: 70px;
}
.comments-area {
    margin-bottom: 50px;
    padding: 35px;
    padding-bottom: 0;
    background: #ffffff;
}
.comment-list .children {
    padding: 0;
}
.message-comments-closed {
    margin-bottom: 0;
    margin-top: 15px;
    text-align: left;
}
.comment-list .children li.comment {
    padding-left: 30px;
}
.comment-list li.comment:first-child {
    border-top: none;
    margin-top: 0;
}
.comment-list li.comment:last-child {
    border-bottom: 0;
}
.comment-list li.comment {
    margin-top: 0;
    list-style: none;
    border-bottom: 1px solid #eeeeee;
}
.comment-list .children li.comment {
    border-top: 1px solid #eeeeee;
    border-bottom: 0;
}
.comment-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.comment-content {
    margin-top: 5px;
}
.comment-body {
    padding: 0;
}
.comment-author {
    width: 50px;
    margin: 40px 0;
    margin-right: 40px;
    float: left;
}
.comment-author img {
    width: 50px;
    height: auto;
}
.comment-metadata {
    margin-top: 40px;
    margin-bottom: 30px;
    display: table;
}
.comment-metadata .author {
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 10px;
    margin-bottom: 0;
}
.comment-metadata .author cite {
    font-style: normal;
}
.comment-metadata .author a {
    text-decoration: none;
    color: #9BA78A;
}
.comment-metadata .date {
    text-transform: uppercase;
    font-size: 12px;
    color: #000000;
}
.comment-metadata .date a {
    text-decoration: none;
    color: #000000;
}
.comment-metadata .date a:hover {
    color: #9BA78A;
}
.comment-meta .reply {
    float: right;
    margin-right: 10px;
    margin-top: 40px;
}
.comment-meta .reply a {
    text-decoration: none;
    display: inline-block;
    padding: 3px 10px;
    font-size: 10px;
    text-transform: uppercase;
    color: #000000;
    background: #eeeeee;
    letter-spacing: 1px;
    font-weight: bold;
}
.comment-meta .reply a:hover {
    text-decoration: none;
    background: #9BA78A;
    color: #ffffff;
}
.comments-title {
    font-size: 24px;
    text-align: left;
    margin: 0;
    padding: 0;
    margin-bottom: 0;
}
.comment-reply-title {
    font-size: 24px;
}
.comment-form textarea,
.comment-form input {
    margin-bottom: 0;
}
.comment-form input#submit {
    margin-bottom: 0;
}
.pingback .comment-body {
    padding: 20px 0;
}
.only-fixed {
    position: fixed !important;
    top: 0 !important;
}
input.pass-input {
    margin-bottom: 0;
}
.entry-content {
    overflow: visible;
}
.entry-content img {
    height: auto;
    max-width: 100%;
}
img.alignleft {
    float: left;
    margin-right: 30px;
    margin-bottom: 5px;
    margin-top: 5px;
}
img.alignnone {
    margin-bottom: 5px;
    margin-top: 5px;
}
img.aligncenter {
    display: block;
    margin-bottom: 5px;
    margin-top: 5px;
}
img.alignright {
    float: right;
    margin-left: 30px;
    margin-bottom: 5px;
    margin-top: 5px;
}
.alignleft {
    float: left;
}
.alignright {
    float: right;
}
.aligncenter {
    text-align: center;
    margin: auto;
}
.image-attachment {
    margin: 150px 0;
}
.image-attachment .about-meta {
    margin-bottom: 0;
}
.comment-form input[type="text"] {
/*    width: 462px;*/
}
.comment-form textarea {
    width: 100%;
}
.wp-caption {
    max-width: 100%;
    color: #8e8e8e;
    font-style: italic;
    margin-bottom: 30px;
}
.wp-caption.alignright {
    margin-left: 30px;
    margin-bottom: 5px;
    margin-top: 5px;
}
.wp-caption.alignleft {
    margin-right: 30px;
    margin-bottom: 5px;
    margin-top: 5px;
}
.wp-caption-text {
    padding: 5px;
    text-align: center;
    font-size: 14px;
}
.wp-caption img {
    width: 100%;
}
.sticky {
}
.gallery-caption {
    color: #8e8e8e;
}
.bypostauthor {
}
.shortcode br {
    display: none;
}
ul.slides {
    margin: 0;
}
noindex:-o-prefocus,
.bottom {
    bottom: 0;
}
a.pp_expand {
    transition: none;
    -webkit-transition: none;
}

/*
* 13. Himmelen Special Elements
*/
/* 13.1 Posts slider */
.himmelen-blog-posts-slider.container-fluid {
    padding-left: 0;
    padding-right: 0;
}
.himmelen-blog-posts-slider.container-fluid .row {
    margin: 0;
}
.himmelen-blog-posts-slider.container-fluid .col-md-12 {
    padding: 0;
}
.himmelen-post-list-wrapper {
    background: #eeeeee url('img/slider-loading.gif') center center no-repeat;
    height: 480px;
}
@media (-webkit-min-device-pixel-ratio: 2) {
    .himmelen-post-list-wrapper {
        background-image: url("img/slider-loading@2x.gif");
        background-size: 64px 64px;
    }
}
.himmelen-blog-posts-slider {
   margin-bottom: 45px;
}
header + .content-block > .page-container.container {
    margin-top: 45px;
}
header + .content-block > .container.himmelen-blog-posts-slider + .page-container.container {
    margin-top: 0;
}
.himmelen-post-list.owl-carousel {
    margin-left: 0;
    margin-right: 0;
}
.himmelen-post-list .himmelen-post {
    width: 100%;
    float: left;
    position: relative;
    overflow: hidden;
}
.himmelen-post-list .himmelen-post .himmelen-post-image {
    background: #d7d7d7;
    height: 480px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.himmelen-post-list .himmelen-post-image-wrapper {
    height: 100%;
}
.himmelen-post-list .himmelen-post-details {
    top: 20%;
    position: relative;
    margin-right: 10px;
    margin-left: 10px;
    padding-left: 30px;
    padding-right: 30px;
    max-width: 480px;
    display: table;
    margin: 0 auto;
}
.himmelen-post-list .himmelen-post-details .himmelen-post-category {
    display: table;
    color: #ffffff;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;
    letter-spacing: 1px;
    font-size: 10px;
    text-transform: uppercase;
    color: #fff;
    position: relative;
    line-height: 1.1;
}
.himmelen-post-list .himmelen-post-details .himmelen-post-description {
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    margin-bottom: 50px;
}
.himmelen-post-list .himmelen-post-details .himmelen-post-category a {
    color: #ffffff;
    text-decoration: none;
}
.himmelen-post-list .himmelen-post-details .himmelen-post-title h2 {
    font-size: 26px;
    color: #ffffff;
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: center;
    display: table;
}
.himmelen-post-list .himmelen-post-details .himmelen-post-title a {
    text-decoration: none;
}
.himmelen-post-list .himmelen-post-details .himmelen-post-title h2:hover {
    opacity: 0.8;
}
.himmelen-post-list .himmelen-post-details .himmelen-read-more a {
    display: table;
    background: transparent;
    color: #ffffff;
    border: 1px solid #ffffff;
    margin: 0 auto;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.himmelen-post-list .himmelen-post-details .himmelen-read-more a:hover {
    background: #9BA78A;
    border-color: #9BA78A;
}
.himmelen-post-list .himmelen-post-details .himmelen-post-date {
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 40px;
}
.himmelen-post-list .himmelen-post .himmelen-post-image-wrapper {
    background-color: rgba(0, 0, 0, 0.5);
}
.himmelen-post-list .himmelen-post-box {
    display: none;
}
/* Advanced slider */
.himmelen-post-wrapper-style-2 {
    height: 480px;
    background: #9BA78A;
    position: relative;
}
.himmelen-post-wrapper-style-2 .himmelen-post-list .himmelen-post .himmelen-post-details .himmelen-post-category,
.himmelen-post-wrapper-style-2 .himmelen-post-list .himmelen-post .himmelen-post-details .himmelen-post-title h2,
.himmelen-post-wrapper-style-2 .himmelen-post-list .himmelen-post .himmelen-post-details .himmelen-post-description {
    display: block;
    text-align: left;
}
.himmelen-post-wrapper-style-2 .himmelen-post-list .himmelen-post .himmelen-post-details .himmelen-post-title h2 {
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
}
.himmelen-post-wrapper-style-2 .himmelen-post-list .himmelen-post-details .himmelen-read-more a {
    display: inline-block;
}
.himmelen-post-wrapper-style-2 .himmelen-post-list .himmelen-post-details .himmelen-read-more a.btn:hover {
    background: #ffffff;
    color: #000000;
    border-color: #000000;
}
.himmelen-post-wrapper-style-2 .himmelen-post-list .himmelen-post {
    display: none;
    position: absolute;
}
.himmelen-post-wrapper-style-2 .himmelen-post-list .himmelen-post.active {
    display: block;
}
.himmelen-post-wrapper-style-2 .himmelen-post-list .himmelen-post .himmelen-post-image {
    width: 65%;
    float: left;
    height: 480px;
}
.himmelen-post-wrapper-style-2 .himmelen-post-list .himmelen-post-details-wrapper {
    width: 35%;
    float: left;
    background: #9BA78A;
    height: 480px;
}
.himmelen-post-wrapper-style-2 .himmelen-post-list .himmelen-post-details {
    margin: 0;
    position: inherit;
    top: auto;
    padding: 60px;
    /*max-width: 450px;*/
}
.himmelen-post-wrapper-style-2 .himmelen-post-list .himmelen-post-details .himmelen-post-description {
    text-align: left;
    margin-bottom: 25px;
}
.himmelen-post-wrapper-style-2 .himmelen-post-list-nav {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 35%;
    background: rgba(0, 0, 0, 0.2);
    height: 90px;
    z-index: 10;
}
.himmelen-post-wrapper-style-2 .himmelen-post-list-nav .himmelen-post-list-nav-prev,
.himmelen-post-wrapper-style-2 .himmelen-post-list-nav .himmelen-post-list-nav-next {
    height: 100%;
    width: 90px;
    border-right: 1px solid #9BA78A;
    float: left;
    cursor: pointer;
    text-align: center;
    color: #ffffff;
    font-size: 30px;
}
.himmelen-post-wrapper-style-2 .himmelen-post-list-nav .himmelen-post-list-nav-prev:hover,
.himmelen-post-wrapper-style-2 .himmelen-post-list-nav .himmelen-post-list-nav-next:hover {
    background: rgba(0, 0, 0, 0.3);
}
.himmelen-post-wrapper-style-2 .himmelen-post-list-nav .himmelen-post-list-nav-prev:after,
.himmelen-post-wrapper-style-2 .himmelen-post-list-nav .himmelen-post-list-nav-next:after {
    display: inline-block;
    font-family: "fontawesome";
    content: "";
    line-height: 90px;
} 
.himmelen-post-wrapper-style-2 .himmelen-post-list-nav .himmelen-post-list-nav-next:after {
    content: "";
}
.himmelen-post-pagination {
    background: #ffffff;
}
.himmelen-post-pagination .himmelen-post-pagination-item {
    width: 20%;
    float: left;
    padding: 0 30px;
    margin: 30px 0;
    border-left: 1px solid #d9d9d9;
    cursor: pointer;
    font-size: 14px;
}
.himmelen-post-pagination .himmelen-post-pagination-item:hover .himmelen-post-pagination-title,
.himmelen-post-pagination .himmelen-post-pagination-item.active .himmelen-post-pagination-title {
    color: #9BA78A;
}
.himmelen-post-pagination .himmelen-post-pagination-item:first-child {
    border-left: none;
}
.himmelen-post-pagination .himmelen-post-pagination-category {
    font-size: 10px;
    text-transform: uppercase;
    line-height: 12px;
    margin-bottom: 5px;
}
.himmelen-post-pagination .himmelen-post-pagination-category a {
    text-decoration: none;
}
.himmelen-post-pagination .himmelen-post-pagination-title {
    text-transform: uppercase;
    line-height: 18px;
}
/* 13.2 Popular Posts block */
.himmelen-popular-post-list-wrapper {
    border-top: 1px solid #d9d9d9;
    padding-top: 40px;
}
.himmelen-popular-post-list-wrapper > h2 {
    text-align: center;
    font-size: 35px;
    margin-bottom: 40px;
}
.himmelen-popular-post-list-wrapper .himmelen-popular-post {
    background: #ffffff;
    min-height: 380px;
    text-align: center;
}
.himmelen-popular-post-list-wrapper .himmelen-popular-post a {
    text-decoration: none;
}
.himmelen-popular-post-list-wrapper .himmelen-popular-post.himmelen-popular-post-small {
    background: #9BA78A;
}
.himmelen-popular-post-list-wrapper .himmelen-popular-post.himmelen-popular-post-large {
    padding: 60px 100px 10px;
}
.himmelen-popular-post-list-wrapper .himmelen-popular-post .himmelen-popular-post-category {
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 5px;
}
.himmelen-popular-post-list-wrapper .himmelen-popular-post .himmelen-popular-post-date {
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.himmelen-popular-post-list-wrapper .himmelen-popular-post.himmelen-popular-post-large .himmelen-popular-post-date {
    margin-bottom: 20px;
}
.himmelen-popular-post-list-wrapper .himmelen-popular-post.himmelen-popular-post-small .himmelen-popular-post-date {
    color: #ffffff;
}
.himmelen-popular-post-list-wrapper .himmelen-popular-post .himmelen-popular-post-description {
    color: #acacac;
    font-size: 18px;
}
.himmelen-popular-post-list-wrapper .himmelen-popular-post .himmelen-popular-post-title a {
    color: #000000;
}
.himmelen-popular-post-list-wrapper .himmelen-popular-post .himmelen-popular-post-title a:hover {
    color: #9BA78A;
    text-decoration: none;
}
.himmelen-popular-post-list-wrapper .himmelen-popular-post .himmelen-popular-post-title h2 {
    font-size: 26px;
    margin-bottom: 15px;
}
.himmelen-popular-post-list-wrapper .himmelen-popular-post.himmelen-popular-post-small .himmelen-popular-post-title h2 {
    font-size: 16px;
    color: #ffffff;
    line-height: 25px;
    margin-bottom: 5px;
}
.himmelen-popular-post-list-wrapper .himmelen-popular-post.himmelen-popular-post-small .himmelen-popular-post-category {
    margin-bottom: 0;
}
.himmelen-popular-post-list-wrapper .himmelen-popular-post.himmelen-popular-post-small .himmelen-popular-post-category,
.himmelen-popular-post-list-wrapper .himmelen-popular-post.himmelen-popular-post-small .himmelen-popular-post-category a {
    color: #ffffff;
}
.himmelen-popular-post-list-wrapper .himmelen-popular-post.himmelen-popular-post-small .himmelen-popular-post-details {
    padding: 20px 30px 5px;
}
.himmelen-popular-post-list-wrapper .himmelen-popular-post-row {
    margin-bottom: 30px;
}
.himmelen-popular-post-list-wrapper .himmelen-popular-post-image {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 240px;
}
.himmelen-popular-post-list-wrapper .himmelen-popular-post:hover .himmelen-popular-post-image {
    opacity: 0.8;
}
/* 
* 14. Himmelen Widgets 
*/
/* 14.1. Recent Posts Widget */
.sidebar .widget.widget_himmelen_recent_entries li {
    clear: both;
}
.sidebar .widget.widget_himmelen_recent_entries li img {
    float: left;
    display: table;
    margin-right: 15px;
}
.sidebar .widget.widget_himmelen_recent_entries li .post-date {
    display: block;
    color: #8e8e8e;
}
.sidebar .widget.widget_himmelen_recent_entries li .widget-post-details-wrapper {
    display: table;
}
/* 14.2. Recent comments Wiget */
.sidebar .widget.widget_himmelen_recent_comments .himmelen_recentcomments .comment-date {
    display: block;
    color: #8f9294;
}
.sidebar .widget.widget_himmelen_recent_comments li:last-child {
    margin-bottom: 0;
}
/* 14.3. Social follow */
.sidebar .widget .widget-social-follow {
    text-align: center;
}
.sidebar .widget .widget-social-follow a {
    color: #ffffff;
    text-decoration: none;
    margin-right: 5px;
    margin-left: 5px;
    font-size: 16px;
    background: #9BA78A;
    border-radius: 16px;
    width: 34px;
    height: 34px;
    line-height: 34px;
    display: inline-block;
    margin-bottom: 5px;
    text-align: center;
}
.sidebar .widget .widget-social-follow a:hover {
    background: #000000;
}
.sidebar .widget .widget-social-follow-footer {
    text-align: left;
}
.sidebar .widget .widget-social-follow-footer a {
    color: #ffffff;
    text-decoration: none;
    margin-right: 5px;
    margin-left: 5px;
    font-size: 18px;
}
/* 14.4. Homepage Welcome Block */
.homepage-welcome-block {
    margin-bottom: 45px;
}
.homepage-welcome-block p {
    margin-bottom: 10px;
}
.homepage-welcome-block-content-left {
    background: #9BA78A;
    color: #ffffff;
}
.homepage-welcome-block-content-right {
    background: #9BA78A;
    color: #ffffff;
    padding-bottom: 30px;
}
.homepage-welcome-block-content-left,
.homepage-welcome-block-content-right,
.homepage-welcome-block-content-center {
    min-height: 320px;
}
.homepage-welcome-block-content-left a,
.homepage-welcome-block-content-right a {
    color: #ffffff;
    text-decoration: underline;
}
.homepage-welcome-block-content-left .btn,
.homepage-welcome-block-content-right .btn {
    background: none;
    text-decoration: none;
}
.homepage-welcome-block-content-left .btn:hover,
.homepage-welcome-block-content-right .btn:hover {
    background: #ffffff;
    color: #000000;
}
.homepage-welcome-block-content-left a:hover,
.homepage-welcome-block-content-right a:hover {
    text-decoration: none;
}
.homepage-welcome-block-content-center {
    background: #ffffff;
    padding: 30px;
}
.homepage-welcome-block img {
    max-width: 100%;
    height: auto;
    margin: 0;
}
.homepage-welcome-block .homepage-welcome-block-content-center h1,
.homepage-welcome-block .homepage-welcome-block-content-center h2,
.homepage-welcome-block .homepage-welcome-block-content-center h3,
.homepage-welcome-block .homepage-welcome-block-content-center h4,
.homepage-welcome-block .homepage-welcome-block-content-center h5 {
    padding-top: 0;
}
.homepage-welcome-block-content-center img.alignleft {
    margin-right: 30px;
    margin-bottom: 30px;
    display: table;
}
.homepage-welcome-block h1,
.homepage-welcome-block h2,
.homepage-welcome-block h3,
.homepage-welcome-block h4,
.homepage-welcome-block h5 {
    padding: 20px;
    padding-top: 30px;
    padding-bottom: 0;
    margin-bottom: 0;  
}
.homepage-welcome-block h5 {
    letter-spacing: 1px;
    font-size: 10px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.homepage-welcome-block h3 {
    font-size: 26px;
}
.homepage-welcome-block h5+h3 {
    padding-top: 0;
}
.homepage-welcome-block p {
    padding: 20px;
    padding-top: 15px;
    padding-bottom: 30px;
    line-height: 20px;
}
.homepage-welcome-block p:last-child {
    margin-bottom: 0;
}
.homepage-welcome-block-content-center p {
    color: #acacac;
}
.homepage-welcome-block p + .btn {
    margin-top: -30px;
}
/* 14.5. Himmelen Content Widget */
.sidebar .widget.widget_himmelen_text {
    padding: 0;
    border: 0;
}
.sidebar .widget.widget_himmelen_text .himmelen-textwidget-wrapper {
    border: 1px solid #d9d9d9;
    padding: 15px;
}
.sidebar .widget.widget_himmelen_text .himmelen-textwidget-wrapper.himmelen-textwidget-no-paddings {
    border: none;
    padding: 0;
}
.sidebar .widget.widget_himmelen_text .himmelen-textwidget {
    background-size: cover;
    background-position: center top;
}
.sidebar .widget.widget_himmelen_text .himmelen-textwidget .btn {
    text-decoration: none;
    display: table;
    margin: 40px auto 0;
}
.sidebar .widget.widget_himmelen_text .himmelen-textwidget .btn:hover {
    text-decoration: none;
}
.sidebar .widget.widget_himmelen_text .himmelen-textwidget h5 {
    letter-spacing: 1px;
    font-size: 10px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.sidebar .widget.widget_himmelen_text .himmelen-textwidget h3 {
    font-size: 26px;
}
.sidebar .widget.widget_himmelen_text .himmelen-textwidget h5+h3 {
    padding-top: 0;
}
.sidebar .widget.widget_himmelen_text .himmelen-textwidget p {
    font-size: 16px;
    margin-top: 30px;
    line-height: 25px;
}
.sidebar .widget.widget_himmelen_text .himmelen-textwidget p:last-child {
    margin-bottom: 0;
}
/* 
* 15. SelectBox overrides 
*/
body .select2-container .select2-choice {
    border-color: #eeeeee;
    background: #ffffff;
    color: #000000;
    padding: 8px 10px 5px 15px;
    height: auto;
    font-weight: normal;
    border-radius: 0;
    height: 45px;
}
body .select2-container .select2-choice:hover {
    text-decoration: none;
}
body .select2-search {
    padding: 0;
}
body .select2-search input {
    border-color: #eeeeee;
    color: #000000;
    background: #F5F5F5;
    font-size: 13px;
    padding: 14px 20px 14px 40px;
    line-height: 15px;
}
body .select2-search:before {
    content: "";
    display: inline-block;
    font-family: "fontawesome";
    font-size: 15px;
    left: 15px;
    position: absolute;
    top: 50%;
    margin-top: -9px;
}
body .select2-drop-active {
    border-color: #eeeeee;
}
body .select2-results {
    background: none;
    margin: 0;
    padding: 0;
    border-top: 1px solid #eeeeee;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
body .select2-drop.select2-drop-above.select2-drop-active {
    border: none;
    border-radius: 0;
}
body .select2-results .select2-result-label {
    padding: 7px 14px;
    font-size: 13px;
    font-weight: normal;
    border-bottom: 1px dotted #eeeeee;
}
body .select2-results .select2-result:last-child .select2-result-label {
    border-bottom: 0;
}
body .select2-container .select2-choice .select2-arrow {
    width: 35px;
    background: none;
    border: none;
    text-align: left;
}
body .select2-container .select2-choice .select2-arrow b {
    display: none;
}
body .select2-container .select2-choice .select2-arrow:after {
    content: "";
    display: inline-block;
    font-family: "fontawesome";
    margin-left: 15px;
    margin-top: 9px;
}
body .header-menu .select2-container .select2-choice .select2-arrow:after {
    margin-top: 2px;
}
body .search-bar .select2-container .select2-choice .select2-arrow:after {
    margin-top: 7px;
}
body .select2-drop {
    background-color: #ffffff;
    color: #8f9294; /* link color */
}
body .select2-results .select2-highlighted {
    background: #ffffff;
    color: #9BA78A;
}
body .select2-drop-active {
    border: none;
}
body .select2-container-active .select2-choice,
body .select2-container-active .select2-choices {
    border-radius: 0;
    border-color: #eeeeee;
}
body .select2-dropdown-open.select2-drop-above .select2-choice,
body .select2-dropdown-open.select2-drop-above .select2-choices {
    border-color: #eeeeee;
    border-radius: 0;
}
body .select2-dropdown-open.select2-drop-above .select2-results {
    box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.2);
}
body .select2-container-multi.select2-container-active .select2-choices {
    border: none;
}
body .select2-results .select2-no-results, .select2-results .select2-searching, 
body .select2-results .select2-ajax-error, .select2-results .select2-selection-limit {
    background: #fff;
    font-size: 13px;
    padding: 14px;
}
/* 
* 16. OWL Carousel slider script overrides
*/
body .owl-theme .owl-controls {
    text-align: center;
    margin-top: 0;
}
body .owl-theme .owl-controls .owl-buttons div {
    background: transparent;
    opacity: 1.0;
    background-position: center center;
    background-repeat: no-repeat;
    width: 54px;
    height: 54px;
    border-radius: 0;
}
body .owl-theme .owl-controls .owl-buttons div.owl-prev {
    background-image: none;
    opacity: 0.4;
    position: absolute;
    left: -130px;
    margin-top: -27px;
    top: 50%;
    border: 1px solid #ffffff;
    border-radius: 3px;
    color: #ffffff;
}
body .owl-theme .owl-controls .owl-buttons div.owl-prev:after {
    content: "";
    font-size: 36px;
    display: inline-block;
    font-family: "fontawesome";
    line-height: 45px;
}
body .owl-theme .owl-controls .owl-buttons div.owl-prev {
    left: 30px;
}
body .owl-theme .owl-controls .owl-buttons div.owl-prev:hover {
    opacity: 1;
}
body .owl-theme .owl-controls .owl-buttons div.owl-next {
    background-image: none;
    opacity: 0.4;
    position: absolute;
    right: -130px;
    margin-top: -27px;
    top: 50%;
    border: 1px solid #ffffff;
    border-radius: 3px;
    color: #ffffff;
}
body .owl-theme .owl-controls .owl-buttons div.owl-next:after {
    content: "";
    font-size: 36px;
    display: inline-block;
    font-family: "fontawesome";
    line-height: 45px;
}
body .owl-theme .owl-controls .owl-buttons div.owl-next  {
    right: 30px;
}
body .owl-theme .owl-controls .owl-buttons div.owl-next:hover {
    opacity: 1;
}
body .owl-theme .owl-controls .owl-page span {
    background-color: #ffffff;
    opacity: 0.7;
    border-radius: 3px;
    border:none;
}
body .owl-theme .owl-controls .owl-page.active span, 
body .owl-theme .owl-controls.clickable .owl-page:hover span {
    background-color: #9BA78A;
    opacity: 1;
}
body .owl-theme .owl-controls .owl-pagination {
    position: relative;
    top: -50px;
}
body .owl-theme .owl-controls {
    opacity: 1;
}
body .owl-theme:hover .owl-controls {
    opacity: 1;
}
/*
* 17. Offcavas Menu
*/
.st-pusher,
.st-sidebar-pusher {
    background: #ffffff; /* body bg */
}
.st-sidebar-pusher {
    background-position: top center;
    background-repeat: no-repeat;
}
html.offcanvasmenu,
html.offcanvassidebar {
    margin-top: 0!important;
}
html.offcanvasmenu.offcanvasmenu-open body,
html.offcanvassidebar.offcanvassidebar-open body {
    margin-top: 0!important;
}
#st-trigger-effects {
    float: left;
    margin-right: 30px;
    margin-top: 0;
}
#st-trigger-effects .mgt-button {
    margin-bottom: 0;
}
.st-menu .sidebar.col-md-3 {
    width: 100%;
    margin-top: 0;
    padding: 20px;
}
.st-sidebar-menu .sidebar {
    padding: 20px;
    background: #ffffff;
    margin-top: 0;
}
.st-sidebar-menu-close-btn {
    background: #9BA78A none repeat scroll 0 0;
    border-radius: 15px;
    color: #fff;
    cursor: pointer;
    font-size: 30px;
    height: 30px;
    line-height: 30px;
    position: absolute;
    left: 35px;
    text-align: center;
    top: 15px;
    width: 30px;
    z-index: 10000;
    font-family: Arial, serif;
    line-height: 30px;
}
.st-sidebar-menu-close-btn {
    top: 32px;
}
.st-sidebar-menu-close-btn:hover {
    background-color: #000000;
}
/*
* 18. Pretty Photo
*/
.pp_pic_holder.pp_woocommerce .pp_description {
    display: none!important;
}
.pp_nav .currentTextHolder {
    position: relative;
    top: -6px;
}
/*
* 19. Contact form 7 
*/
.wpcf7-form input[type="text"],
.wpcf7-form input[type="password"],
.wpcf7-form input[type="email"],
.wpcf7-form textarea {
    width: 100%;
}
/*
* 20. Instagram plugin
*/
#sb_instagram #sbi_load {
    margin:0!important;
    padding: 0!important;
}
#sb_instagram .sbi_load_btn, 
#sb_instagram .sbi_follow_btn {
    margin-top: 30px!important;
    margin-bottom: 30px!important;
}
#sb_instagram .sbi_follow_btn a {
    margin-top: 0!important;
}
#sb_instagram .sb_instagram_header {
    padding: 15px!important;
}
#sb_instagram img {
    width: 100%;
}
/* 
* 21. WooCommerce styles 
*/
.woocommerce-shop {
    margin-bottom: 30px;
    margin-top: 30px;
}
.added_to_cart.wc-forward {
    margin-top: 15px;
    width: 100%;
}
.button.add_to_cart_button {
    width: 100%;
}
.woocommerce-cart table.cart td.actions .coupon .input-text {
    width: 150px;
}
.woocommerce-cart .cart-collaterals .cart_totals table {
    width: 100%;
}
.panel.wc-tab {
    background: none;
}
.woocommerce span.onsale {
    border-radius: 3px;
}
.woocommerce input.button,
.woocommerce a.button {
    font-weight: normal;
}
.woocommerce-cart .cart-collaterals .cart_totals table {
    border: 1px solid #d9d9d9;
}
.woocommerce-cart .cart-collaterals .cart_totals table td,
.woocommerce-cart .cart-collaterals .cart_totals table th {
    padding: 10px;
}
.woocommerce .woocommerce-error, 
.woocommerce .woocommerce-info, 
.woocommerce .woocommerce-message {
    background: #ffffff;
}
.woocommerce #ship-to-different-address-checkbox {
    position: absolute;
    margin-top: -27px;
}
.woocommerce .shop_table + header,
.woocommerce header.title {
    background: none;
    margin: 0!important;
}
.woocommerce .order_details {
    background: #ffffff;
    padding: 15px;
}
.woocommerce .product_meta > span {
    display: block;
}
.woocommerce div.product .product_title {
    font-size: 36px;
}
.single-product div.product p.price {
    font-size: 25px;
}
.woocommerce ul.products li.product .woocommerce-loop-category__title, 
.woocommerce ul.products li.product .woocommerce-loop-product__title, 
.woocommerce ul.products li.product h3 {
    font-size: 16px;
}
/* 
* 22. Mailchimp plugin
*/
body .mc4wp-form input, 
body .mc4wp-form label {
    line-height: 26px;
}
body .mc4wp-form input[type="button"],
body .mc4wp-form input[type="submit"] {
    line-height: 1;
    vertical-align: top;
}
body .mc4wp-form .footer-signup-form input[type="submit"],
body .mc4wp-form .footer-signup-form input[type="button"] {
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    width: 100%;
}
body .mc4wp-form .footer-signup-form input[type="email"] {
    width: 100%;
    display: inline-block;
    vertical-align: top;

    background: rgba(255,255,255, 0.2);
    border-color: rgba(255,255,255, 0.05);
    color: rgba(255,255,255, 0.9);
    margin-bottom: 5px;
}
/* Other */
.hide-and-disable {
    pointer-events: none;
    opacity: 0;
}