/*
*	Responsive styles
*/
@media (max-width: 1200px) {
	.blog-post.blog-post-list-layout .blog-post-media.blog-post-media-gallery .owl-carousel {
	    width: 330px;
	}
	.col-md-9 .blog-post.blog-post-list-layout .blog-post-media.blog-post-media-gallery .owl-carousel {
	    width: 244px;
	}
}
@media (max-width: 1024px) {
	header .header-left,
	header .header-center,
	header .header-right {
		display: block;
	}
	header .header-left.logo,
	header .header-right.logo {
		text-align: center;
	}
	header .header-right ul.header-nav {
		float: none;
		margin: 0 auto;
		padding: 0;
		display: table;
	}
	header .header-right ul.header-nav > li {
		margin-left: 0;
	}
	header .header-right ul.header-nav > li.float-sidebar-toggle {
		margin-right: 0;
	}
	header .col-md-12 {
		height: auto!important;
		display: block;
	}
	.header-logo-center .header-center {
		padding: 20px;
	}
	header .header-logo-center .header-center + .header-right .header-nav {
		margin-top: 0;
	}
	header > .container > .row {
		margin: 0;
	}
	header > .container {
		padding: 0;
	}
	header .logo {
		display: block;
	}
	header .header-promo-content,
	header .header-left .logo,
	header .header-right .logo {
	    margin: 20px 15px;
	}
	header .header-promo-content {
		margin-top: 0;
	}
	header .header-left,
	header .header-center,
	header .header-right,
	header .header-logo-center .header-right,
	header .header-logo-center .header-left {
		text-align: center;
		width: 100%;
	}
	header .header-logo-center .header-center {
		width: 100%;
	}
	header.fixed {
	    position: relative;
	}
	.sidebar.footer-sidebar > ul > li:first-child {
	    padding-left: 15px;
	}
	.sidebar.footer-sidebar > ul > li:last-child {
	    padding-right: 15px;
	}
	header .header-promo-content {
		display: block;
	}
	header .header-right ul.header-nav {
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.blog-masonry-layout,
	.col-md-9 .blog-masonry-layout {
	    -moz-column-count: 2;
	    -webkit-column-count: 2;
	    column-count: 2;
	}
	header .header-left {
		padding-left: 0;
	}
	header .header-right {
		padding-right: 0;
	}
	.social-icons-wrapper {
		margin-top: 20px;
	}
	.navbar-inner {
		background: #ffffff;
	}
	.navbar .nav > li > a {
		margin-left: 7px;
		margin-right: 7px;
	}
   	.social-icons-wrapper a:first-child {
   		margin-left: 10px;
   	}
}

@media (min-width: 979px) and (max-width: 992px) {
	footer .col-md-6 {
		text-align: center;
	}
	.homepage-welcome-block-content-left {
		text-align: center;
	}
}

@media (max-width: 979px)  {
	.navbar .nav > li > a {
		margin-left: 10px;
		margin-right: 10px;
	}
	.sidebar.footer-sidebar-2 > ul > li,
	.sidebar.footer-sidebar > ul > li {
	    width: 50%;
	}
	.sidebar.footer-sidebar-2 ul li:nth-of-type(3n+1) {
		clear: none;
	}
	.sidebar.footer-sidebar-2 ul li:nth-of-type(2n+1) {
		clear: both;
	}
	.sidebar.footer-sidebar > ul > li:nth-of-type(3n+1) {
	    clear: none;
	}
	.sidebar.footer-sidebar > ul > li:nth-of-type(2n+1) {
	    clear: both;
	}
	.sidebar.footer-sidebar.sidebar.container > ul#footer-sidebar {
	    margin-left: 0;
	    margin-right: 0;
	}
	.sidebar.footer-sidebar > ul > li {
		width: 50%;
	}
	.sidebar.footer-sidebar-2 > ul > li {
		padding-left: 15px;
		padding-right: 15px!important;
	}
	footer .col-md-6 {
		text-align: center;
	}
	#sidebar > li {
	    width: 50%;
	}
	.content-block > .container-fluid {
	    margin-left: 0;
	    margin-right: 0;
	    padding-left: 0;
	    padding-right: 0;
	}
	.content-block > .container-fluid > .row {
		margin-left: 0;
	    margin-right: 0;
	}
	.comments-area input[type="text"] {
	    width: 100%;
	}
	.footer-signup-wrapper .col-md-6 {
	    margin-bottom: 20px;
	}
	.blog-post-list-layout.blog-post {
	    display: block;
	    width: 100%;
	}
	.blog-post-list-layout.blog-post .blog-post-thumb {
	    width: 100%!important;
	    margin-bottom: 0!important;
	    display: block!important;
	}
	.blog-post-list-layout.blog-post .post-content {
	    padding: 25px;
	    display: block!important;
	    width: 100%!important;
	}
	.blog-post .blog-post-media.blog-post-media-video iframe,
	.col-md-9 .blog-post .blog-post-media.blog-post-media-video iframe  {
	    height: auto;
	}
	.blog-post.blog-post-list-layout .blog-post-media.blog-post-media-gallery .owl-carousel,
	.col-md-9 .blog-post.blog-post-list-layout .blog-post-media.blog-post-media-gallery .owl-carousel {
	    width: auto;
	}
	.blog-post-list-layout.blog-post .format-gallery .blog-post-thumb,
	.col-md-9 .blog-post-list-layout.blog-post .format-gallery .blog-post-thumb {
		height: auto;
	}
	.col-md-9 .blog-post-list-layout.blog-post .format-video .blog-post-thumb iframe {
		height: 300px;
	}
	header .header-left {
		padding-left: 0;
	}
	.blog-masonry-layout .blog-post {
	    width: 50%;
	}
	.col-md-9 .blog-masonry-layout .blog-post {
	    width: 50%;
	}
	.homepage-welcome-block .homepage-welcome-block-content-left {
		text-align: center;
	}
	.homepage-welcome-block-content-left,
	.homepage-welcome-block-content-right,
	.homepage-welcome-block-content-center {
		min-height: 0;
	}
	.navigation-post a {
		text-align: center!important;
	    margin: 0 -15px 10px -15px!important;
	}
	.himmelen-popular-post-list-wrapper .himmelen-popular-post {
		margin-bottom: 15px;
	}
	.himmelen-popular-post-list-wrapper .himmelen-popular-post-row {
		margin-bottom: 0;
	}
	.himmelen-post-wrapper-style-2 .himmelen-post-list .himmelen-post .himmelen-post-image,
	.himmelen-post-wrapper-style-2 .himmelen-post-list .himmelen-post-details-wrapper,
	.himmelen-post-wrapper-style-2 .himmelen-post-list-nav {
		width: 50%;
	}
	.blog-post-list-layout.blog-post .blog-post-thumb {
		height: 300px!important;
	}
}

@media (min-width: 768px) and (max-width: 979px)  {

}

@media (max-width: 767px)  {
	.mainmenu-belowheader.fixed {
	    top: 0;
	    position: inherit;
	    box-shadow: none;
	}
	.container.fullwidth-no-padding .row .col-md-12 {
		padding-left: 15px;
		padding-right: 15px;
	}
	.st-sidebar-content-inner {
		margin-top: 0!important;
	}
	.content-block > .container > .row {
		margin-left: 0;
		margin-right: 0;
	}
	header .col-md-12 {
		padding: 0;
	}
	header .navbar  {
		padding-bottom: 0;
		margin: 0;
	}
	.mainmenu-belowheader.menu-center .nav {
		display: block;
	}
	.nav .sub-menu, 
	.nav .children {
		z-index: 0;
	}
	.navbar .navbar-toggle  {
		display: table;
	}
	.nav .sub-menu li.menu-item > a:hover,
	.nav .children li.menu-item > a:hover {
	    background: none;
	}
	.nav .sub-menu li.menu-item > a,
	.nav .children li.menu-item > a {
		min-height: 0;
		padding-right: 15px;
		padding-left: 15px;
	}
	.navbar .container {
		background: none!important;
	}
	.mainmenu-belowheader .navbar .nav > li > a,
	.mainmenu-belowheader.menu_bordered .navbar .nav > li > a {
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.mainmenu-belowheader .navbar .nav > li > a span {
		margin-bottom: 0;
	}
	.mainmenu-belowheader:not(.menu-center) .navbar .nav > li > a {
		text-align: left!important;
	}
	.mainmenu-belowheader:not(.menu-center) .navbar .nav > li:first-child > a {
		padding-left: 20px;
	}
	.mainmenu-belowheader.mainmenu-noarrow .navbar .nav > li.menu-item-has-children > a:after {
		display: none;
	}
	.navbar .nav > li.menu-item-has-children > a:after {
		margin-top: 0;
		margin-right: 0;
		float: right;
	}
	.mainmenu-belowheader.mainmenu-rightarrow .navbar .nav > li.menu-item-has-children > a:after {
		margin-top: -13px;
	}
	.navbar-collapse {
	    padding: 0;
	    padding-bottom: 10px;
	    padding-top: 10px;
	    margin-top: 70px;
	}
	.mainmenu-belowheader .navbar .nav > li > a {
		text-align: left;
		margin-left: 0;
		margin-right: 0;
		padding-left: 0;
		padding-right: 0;
		border: none;
	}
	.mainmenu-belowheader .navbar .nav > li > a:hover {
		border: none;
	}
	.navbar .nav > li {
		padding-top: 0;
		padding-bottom: 0;
	}
	.mainmenu-belowheader {
		background: none!important;
	}
	.nav .sub-menu li .sub-menu,
	.nav .children li .children {
		margin-top: 0!important;
		position: relative;
		right: auto;
	}
	.nav > li > .sub-menu,
	.nav > li > .children {
	    left: 0!important;
	    padding-top: 0;
	    padding-bottom: 0;
	}
	.navbar .nav li {
		display: block;
		width: 100%;
	}
	.nav .sub-menu, 
	.nav .children {
		padding: 0;
		position: relative;
		margin-left: 10px;
		border: none;
	}
	.nav > li > .sub-menu, 
	.nav > li > .children {
		margin-top: 0;
		margin-left: 0;
	}
	.nav .sub-menu li.menu-item > a, 
	.nav .children li.menu-item > a {
		border: none;
	}
	.nav .sub-menu li a, 
	.nav .children li a {
		background: none;
		padding: 5px 10px;
		display: block;
		width: auto;
		border: 0!important;
	}
	.nav li:hover > .sub-menu,
	.nav li:hover > .children {
		display: none;
	}
	.navbar .nav li a {
		padding: 5px 14px;
	}
	.loop-item-nav a {
		margin-left: 10px;
		margin-right: 10px;
	}
	.loop-item-nav .span6 {
		width: 50%;
		float: left;
	}
	.footer-sidebar.sidebar .widgettitle {
		margin-top: 20px!important;
	}
	.author-bio {
		padding: 15px;
	}
	.author-bio .author-image {
		width: 50px;
		height: 50px;
		border-radius: 25px;
		margin-right: 15px;
	}
	.author-bio .author-image img {
		width: 50px;
		height: auto;
	}
	.blog-post .post-content {
	    margin-left: 0;
	}
	.blog-post .post-date-wrapper {
		margin: 0 auto;
    	width: 72px;
    	margin-bottom: 20px;
    	float: none;
	}
	.blog-post .post-content-wrapper {
		width: 100%;
		float: none;
	}
	.page-header {
		font-size: 30px;
		padding-bottom: 23px;
	}
	.header-title {
		top: 50%;
		margin-top: -100px;
	}
	.page-header {
		font-size: 10px;
	}
	.footer-signup-wrapper .col-md-6 {
	    padding-left: 30px;
	    padding-right: 30px;
	}
	.footer-signup-wrapper h5 {
		text-align: center;
	}
	.blog-post.blog-post-vertical .blog-post-thumb {
	    float: none;
	    width: 100%;
	    padding-right: 0;
	    margin-bottom: 30px;
	}
	.blog-post.blog-post-vertical .post-content {
	    float: none;
	    width: 100%;
	}
	.col-md-12 .blog-post.blog-post-vertical .blog-post-thumb {
	    width: 100%;
	}
	.col-md-12 .blog-post.blog-post-vertical .post-content {
	    width: 100%;
	}
	.content-block.blog-post:not(:nth-child(1)) {
        padding-left: 0!important;
        width: 100%!important;
        float: none!important;
    }
    .content-block.blog-post:nth-child(2n) {
        padding-right: 0!important;
    }
	.blog-masonry-layout,
	.col-md-9 .blog-masonry-layout {
	    -moz-column-count: 1;
	    -webkit-column-count: 1;
	    column-count: 1;
	}
	.himmelen-post-list-wrapper {
		margin-top: 50px!important;
	}
	.himmelen-post-list-wrapper {
		margin-top: 0!important;
	}
	.mainmenu-belowheader.menu_light {
		margin-bottom: 45px;
	}
	.woocommerce-breadcrumb {
		margin-top: 30px!important;
	}
	.blog-masonry-layout .blog-post {
	    width: 100%;
	}
	.col-md-9 .blog-masonry-layout .blog-post {
	    width: 100%;
	}
	.blog-masonry-layout {
	    margin-left: 0;
	    margin-right: 0;
	}
	.blog-masonry-layout .blog-post {
	    padding-left: 0;
	    padding-right: 0;
	}
	.homepage-welcome-block {
		padding-left: 15px;
		padding-right: 15px;
	}
	.homepage-welcome-block-content-left img {
		width: 100%;
	}
	.homepage-welcome-block-content-center {
		text-align: center;
	}
	.homepage-welcome-block-content-center img {
		margin-right: 0!important;
		float: none;
		display: inline!important;
	}
	.mainmenu-belowheader.menu-center .nav {
	    padding-left: 0;
	    padding-right: 0;
	}
	  
}

@media (max-width: 568px)  {
	.logo-link > img {
	    max-width: 100%;
	}
	.page-404 {
	    margin: 30px auto;
	    width: auto;
		padding-left: 15px;
		padding-right: 15px;
	}
	.page-404 h1 {
	    color: #4686CC;
	    font-size: 60px;
	    margin-bottom: 20px;
	}
	.page-404 h3 {
	    font-size: 25px;
	    margin-bottom: 35px;
	}
	.blog-post .blog-post-bottom .more-link {
		display: block!important;
	}
	.post-social {
		display: block!important;
	}
	.blog-post-related {
	    margin-left: 0;
	    margin-right: 0;
	}
	.blog-post-related-item {
	    float: none;
	    width: 100%;
	    padding-right: 0;
	    padding-left: 0;
	}
	.blog-post-related.blog-post-related-loop .blog-post-related-item .blog-post-related-image {
		margin-bottom: 10px;
	}
	blockquote {
	    padding: 15px;
	    font-size: 20px;
	    line-height: 25px;
	    margin-top: 20px;
	    margin-bottom: 20px;
	}
	blockquote:before {
		display: none;
	}
	.author-bio .author-social-icons li a {
	    margin: 1px!important;
	}
	.blog-post .post-info > div {
		width: 100%!important;
		border: none!important;
		border-bottom: 1px solid #d9d9d9!important;
	}
	.blog-post .post-info > div:last-child {
		border-bottom: none!important;
	}
	.author-bio .author-image {
		display: table;
		margin: 0 auto;
		float: none;
		text-align: center;
	}
	.search-bar-header .search-bar-header-close-btn {
		display: none!important;
	}
	/* Mobile slider */
	.himmelen-post-wrapper-style-2 .himmelen-post-list .himmelen-post {
		position: relative;
	}
	.himmelen-post-wrapper-style-2 .himmelen-post-list .himmelen-post .himmelen-post-image {
	    width: 100%;
	    float: none;
	    height: 200px;
	}
	.himmelen-post-wrapper-style-2 .himmelen-post-list .himmelen-post-details-wrapper {
	    width: 100%;
	    float: none;
	    position: inherit;
	    height: 310px;
	}
	.himmelen-post-wrapper-style-2 .himmelen-post-list .himmelen-post-details {
		padding: 30px;
	}
	.himmelen-post-wrapper-style-2 {
		height: auto;
	}
	.himmelen-post-wrapper-style-2 .himmelen-post-list-nav {
		width: 100%;
	}
	.himmelen-post-wrapper-style-2 .himmelen-post-list .himmelen-post-details .himmelen-post-title h2 {
		font-size: 23px;
	}
	.himmelen-post-wrapper-style-2 .himmelen-post-list-nav {
		height: 45px;
	}
	.himmelen-post-wrapper-style-2 .himmelen-post-list-nav .himmelen-post-list-nav-prev::after, 
	.himmelen-post-wrapper-style-2 .himmelen-post-list-nav .himmelen-post-list-nav-next::after {
		line-height: 45px;
	}
	.himmelen-post-wrapper-style-2 .himmelen-post-list-nav .himmelen-post-list-nav-prev, 
	.himmelen-post-wrapper-style-2 .himmelen-post-list-nav .himmelen-post-list-nav-next {
		width: 45px;
		font-size: 20px;
	}
	.himmelen-post-pagination .himmelen-post-pagination-item {
		width: 100%;
		border: none;
		margin: 0;
		margin-top: 15px;
	}
	.himmelen-post-pagination .himmelen-post-pagination-item:last-child {
		margin-bottom: 15px;
	}
	.himmelen-post-list .himmelen-post-details {
		max-width: 100%;
		display: block;
		width: 100%;
	}
	.himmelen-popular-post-list-wrapper .himmelen-popular-post.himmelen-popular-post-large {
		padding: 30px;
	}
	.himmelen-popular-post-list-wrapper .himmelen-popular-post {
		min-height: 0;
	}

}

@media (max-width: 480px)  {
	.search-bar-header #s {
		width: 150px;
		margin-left: -75px;
		font-size: 15px;
	}
	header .col-md-12 {
		display: block;
	}
	.sidebar.footer-sidebar-2 > ul > li {
	    min-height: 0;
	}
	.content-block > .container {
		padding: 0;
	}
	.blog-post .post-info {
		line-height: 1.7em;
	}
	.comment-meta .reply {
		float: none;
		display: table;
		margin: 0 auto;
		margin-top: 10px;
	}
	.comment-meta .reply a {
		padding: 10px 15px;
	}
	.comment-author {
		width: 50px;
		margin: 15px 15px 15px 0;
	}
	.comment-metadata {
		margin-top: 15px;
		margin-bottom: 0;
	}
	.comment-list li:first-child {
		margin-top: 0;
	}
	.comment-author img {
		border-radius: 25px;
		width: 50px;
		height: auto;
	}
	#sidebar .widgettitle {
		margin-right: 0;
	}
	.page-header  {
		line-height: 1;
		font-size: 20px;
		padding-bottom: 10px;
	}
	#sidebar > li {
	    width: 100%;
	}
	html.offcanvasmenu .st-content-inner {
	    margin-top: 0!important;
	}
	html.offcanvasmenu .woocommerce .woocommerce-result-count, 
	html.offcanvasmenu .woocommerce-page .woocommerce-result-count {
		display: none;
	}
	body .owl-theme .owl-controls .owl-buttons div,
	body .owl-theme .owl-controls .owl-pagination {
		display: none;
	}
	.himmelen-post-wrapper-style-2 .himmelen-post-list .himmelen-post-details-wrapper {
	    height: 370px;
	}
	.homepage-welcome-block .col-md-3,
	.homepage-welcome-block .col-md-6 {
		padding: 0;
	}

}

@media (max-width: 400px)  {
	.sidebar.footer-sidebar-2 > ul > li,
	.sidebar.footer-sidebar > ul > li {
	    width: 100%;
	}
	.tparrows, 
	.tp-bullets {
		display: none!important;
	}
	.page-item-title h1 {
		font-size: 24px;
	}
}

@media (max-width: 380px)  {
	
}

@media (max-width: 240px)  {
	
}